&lt;p&gt;See &lt;code&gt;source/scss/patternlab/_layout.scss&lt;/code&gt; for SCSS examples&lt;/p&gt;

&lt;div class=&quot;demo&quot;&gt;
	&lt;!--Grid 4up--&gt;
	&lt;div class=&quot;grid-container--4&quot;&gt;
    &lt;div class=&quot;grid--item&quot;&gt;1/4&lt;/div&gt;
    &lt;div class=&quot;grid--item&quot;&gt;1/4&lt;/div&gt;
    &lt;div class=&quot;grid--item&quot;&gt;1/4&lt;/div&gt;
    &lt;div class=&quot;grid--item&quot;&gt;1/4&lt;/div&gt;
    &lt;div class=&quot;grid--item&quot;&gt;1/4&lt;/div&gt;
    &lt;div class=&quot;grid--item&quot;&gt;1/4&lt;/div&gt;
    &lt;div class=&quot;grid--item&quot;&gt;1/4&lt;/div&gt;
    &lt;div class=&quot;grid--item&quot;&gt;1/4&lt;/div&gt;
	&lt;div class=&quot;grid--item&quot;&gt;1/4&lt;/div&gt;
	&lt;div class=&quot;grid--item&quot;&gt;1/4&lt;/div&gt;
	&lt;div class=&quot;grid--item&quot;&gt;1/4&lt;/div&gt;
	&lt;div class=&quot;grid--item&quot;&gt;1/4&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
{{# meta }}
  {{&gt;atoms-scss-singularity}}
{{/meta}}
