    <!-- Core js -->
    <script src="../../bower_components/jquery/jquery.js"></script>


    <!-- to add JS here, look under the 'injector' target in 'Gruntfile.js' -->
    <!-- start:drupal_info:JS -->
    <script src="../../js/modernizr-custom.js"></script>
    <script src="../../bower_components/eq.js/dist/eq.min.js"></script>
    <!-- end:drupal_info:JS -->

    <!-- to add JS here, look under the 'injector' target in 'Gruntfile.js' -->
    <!-- start:PL_only:JS -->

    <!-- end:PL_only:JS -->

    <!-- to add JS here, look under the 'injector' target in 'Gruntfile.js' -->
    <script src="../../bower_components/sly/dist/sly.min.js"></script>
    <script src="../../bower_components/jquery-selectric/dist/jquery.selectric.js"></script>

    <!-- Typekit -->
    <script src="//use.typekit.net/hny7ecg.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- start:foot:JS -->
    <script src="../../js/script.js"></script>
    <script src="../../js/accordion-set.js"></script>
    <script src="../../js/timeline-widget.js"></script>
    <script src="../../js/widget-river.js"></script>
    <script src="../../js/widget-financial.js"></script>
    <!-- end:foot:JS -->


	  <!--DO NOT REMOVE-->
	  {% pattern-lab-foot %}

	</body>
</html>
