{{> molecules-atrium-page-frame-top }}




<h2>FPx</h2>


<div class="accordion--sets">
  <!-- control all accordions -->
  <a class="accordion--control-all" data-action="expand" href="">Expand All</a>
  <!-- accordion set -->
  <div class="accordion--set">
    <h3 class="accordion--set--title">Final Project Objectives</h3>
    <!-- accordion -->
    <div class="accordion" data-state="closed">
      <div class="accordion--header">
        <h4 class="accordion--title">Implementation of PAT Data Management Strategy</h4>
        <div class="fpx--status">on schedule</div>
        <a class="accordion--control" href="" title="close">&ndash;</a>
      </div>
      <div class="accordion--body">
        <div class="fpx-item">
          <div class="fpx-item--title">Status</div>
          <div class="fpx-item--text">In progress - no blockers</div>
        </div>
        <div class="fpx-item">
          <div class="fpx-item--title">Completion Date</div>
          <div class="fpx-item--text">Q3 2015</div>
        </div>
        <div class="fpx-item">
          <div class="fpx-item--title">Owner</div>
          <div class="fpx-item--text">
            <a href="">Process Knowledge and Understanding</a>
          </div>
        </div>
        <div class="fpx-item">
          <div class="fpx-item--title">Co-Sponsors</div>
          <div class="fpx-item--text"><a href="">Modelling LCM</a>, <a href="">Rutgers Collaboration on Big Data</a></div>
        </div>
        <a class="button" href="">Project Details</a>
        <div class="fpx--edit"><a href="">edit</a></div>
      </div>
    </div>
    <!-- accordion -->
    <div class="accordion" data-state="closed">
      <div class="accordion--header">
        <h4 class="accordion--title">New ED Process LM</h4>
        <div class="fpx--status">delayed</div>
        <a class="accordion--control" href="" title="close">&ndash;</a>
      </div>
      <div class="accordion--body">
        <div class="fpx-item">
          <div class="fpx-item--title">Status</div>
          <div class="fpx-item--text">In progress - no blockers</div>
        </div>
        <div class="fpx-item">
          <div class="fpx-item--title">Completion Date</div>
          <div class="fpx-item--text">Q3 2015</div>
        </div>
        <div class="fpx-item">
          <div class="fpx-item--title">Owner</div>
          <div class="fpx-item--text">
            <a href="">Process Knowledge and Understanding</a>
          </div>
        </div>
        <div class="fpx-item">
          <div class="fpx-item--title">Co-Sponsors</div>
          <div class="fpx-item--text"><a href="">Modelling LCM</a>, <a href="">Rutgers Collaboration on Big Data</a></div>
        </div>
        <a class="button" href="">Project Details</a>
        <div class="fpx--edit"><a href="">edit</a></div>
      </div>
    </div>
    <!-- accordion -->
    <div class="accordion" data-state="closed">
      <div class="accordion--header">
        <h4 class="accordion--title">Aggressive CEV Implementation Strategy</h4>
        <div class="fpx--status">work stopped</div>
        <a class="accordion--control" href="" title="close">&ndash;</a>
      </div>
      <div class="accordion--body">
        <div class="fpx-item">
          <div class="fpx-item--title">Status</div>
          <div class="fpx-item--text">In progress - no blockers</div>
        </div>
        <div class="fpx-item">
          <div class="fpx-item--title">Completion Date</div>
          <div class="fpx-item--text">Q3 2015</div>
        </div>
        <div class="fpx-item">
          <div class="fpx-item--title">Owner</div>
          <div class="fpx-item--text">
            <a href="">Process Knowledge and Understanding</a>
          </div>
        </div>
        <div class="fpx-item">
          <div class="fpx-item--title">Co-Sponsors</div>
          <div class="fpx-item--text"><a href="">Modelling LCM</a>, <a href="">Rutgers Collaboration on Big Data</a></div>
        </div>
        <a class="button" href="">Project Details</a>
        <div class="fpx--edit"><a href="">edit</a></div>
      </div>
    </div>
    <!-- accordion -->
    <div class="accordion" data-state="closed">
      <div class="accordion--header">
        <h4 class="accordion--title">Drive Robust Critical Analysis for development and LCM</h4>
        <div class="fpx--status">ahead of schedule</div>
        <a class="accordion--control" href="" title="close">&ndash;</a>
      </div>
      <div class="accordion--body">
        <div class="fpx-item">
          <div class="fpx-item--title">Status</div>
          <div class="fpx-item--text">In progress - no blockers</div>
        </div>
        <div class="fpx-item">
          <div class="fpx-item--title">Completion Date</div>
          <div class="fpx-item--text">Q3 2015</div>
        </div>
        <div class="fpx-item">
          <div class="fpx-item--title">Owner</div>
          <div class="fpx-item--text">
            <a href="">Process Knowledge and Understanding</a>
          </div>
        </div>
        <div class="fpx-item">
          <div class="fpx-item--title">Co-Sponsors</div>
          <div class="fpx-item--text"><a href="">Modelling LCM</a>, <a href="">Rutgers Collaboration on Big Data</a></div>
        </div>
        <a class="button" href="">Project Details</a>
        <div class="fpx--edit"><a href="">edit</a></div>
      </div>
    </div>
    <!-- accordion -->
    <div class="accordion" data-state="closed">
      <div class="accordion--header">
        <h4 class="accordion--title">Drug Product Continuous Manufacturing</h4>
        <div class="fpx--status">on schedule</div>
        <a class="accordion--control" href="" title="close">&ndash;</a>
      </div>
      <div class="accordion--body">
        <div class="fpx-item">
          <div class="fpx-item--title">Status</div>
          <div class="fpx-item--text">In progress - no blockers</div>
        </div>
        <div class="fpx-item">
          <div class="fpx-item--title">Completion Date</div>
          <div class="fpx-item--text">Q3 2015</div>
        </div>
        <div class="fpx-item">
          <div class="fpx-item--title">Owner</div>
          <div class="fpx-item--text">
            <a href="">Process Knowledge and Understanding</a>
          </div>
        </div>
        <div class="fpx-item">
          <div class="fpx-item--title">Co-Sponsors</div>
          <div class="fpx-item--text"><a href="">Modelling LCM</a>, <a href="">Rutgers Collaboration on Big Data</a></div>
        </div>
        <a class="button" href="">Project Details</a>
        <div class="fpx--edit"><a href="">edit</a></div>
      </div>
    </div>
  </div>
</div>





{{> molecules-atrium-page-frame-bottom }}
