{{> molecules-atrium-page-frame-top }}




<h2>FPx</h2>

<div class="fpx--header">
  <h4 class="fpx--title">Implementation of PAT Data Management Strategy</h4>
  <div class="fpx--status">on schedule</div>
</div>

<div class="fpx-item">
  <div class="fpx-item--title">Status</div>
  <div class="fpx-item--text">In progress - no blockers</div>
</div>
<div class="fpx-item">
  <div class="fpx-item--title">Completion Date</div>
  <div class="fpx-item--text">Q3 2015</div>
</div>
<div class="fpx-item">
  <div class="fpx-item--title">Owner</div>
  <div class="fpx-item--text">
    <a href="">Process Knowledge and Understanding</a>
  </div>
</div>
<div class="fpx-item">
  <div class="fpx-item--title">Co-Sponsors</div>
  <div class="fpx-item--text"><a href="">Modelling LCM</a>, <a href="">Rutgers Collaboration on Big Data</a></div>
</div>
<div class="fpx-item">
  <div class="fpx-item--title">Outcome</div>
  <div class="fpx-item--text">Descrive the planned organization change.</div>
</div>
<div class="fpx-item">
  <div class="fpx-item--title">Motivation</div>
  <div class="fpx-item--text">Explain why the transformation matters to the user or organization</div>
</div>
<div class="fpx-item">
  <div class="fpx-item--title">Project Plan</div>
  <div class="fpx-item--text">Explain in broad strokes steps to be taken to accomplish the project</div>
</div>
<div class="fpx-item">
  <div class="fpx-item--title">RACI</div>
  <div class="fpx-item--text">
    <div class="raci">
      <div class="raci--role">Responsible</div>
      <div class="raci--text"><a href="">Elizabeth Shanahan</a></div>
    </div>
    <div class="raci">
      <div class="raci--role">Accountable</div>
      <div class="raci--text"><a href="">Adam Fermier</a></div>
    </div>
    <div class="raci">
      <div class="raci--role">Consulted</div>
      <div class="raci--text"><a href="">Radha Mendapra</a></div>
    </div>
    <div class="raci">
      <div class="raci--role">Informed</div>
      <div class="raci--text"><a href="">James Kenyon</a><a href="">James Leonard</a></div>
    </div>
  </div>
</div>
<div class="fpx-item">
  <div class="fpx-item--title">Tasks</div>
  <div class="fpx-item--table">
    <table class="">
      <thead>
      <tr>
        <td><a href="">Task</a></td>
        <td><a href="">Assigned</a></td>
        <td><a href="">Project</a></td>
        <td><a href="">Priority</a></td>
        <td><a href="">Type</a></td>
        <td><a href="">Status</a></td>
        <td><a href="">Updated</a></td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="task"><a href="">First Task</a></td>
        <td class="assigned"><a href="">David Snopek</a></td>
        <td class="project"><a href="">First Project</a></td>
        <td class="priority">High</td>
        <td class="type">Problem</td>
        <td class="status">Open</td>
        <td class="updated">2 min 37 sec ago</td>
      </tr>
      <tr>
        <td class="task"><a href="">Third Task</a></td>
        <td class="assigned"><a href="">David Snopek</a></td>
        <td class="project"><a href="">Second Project</a></td>
        <td class="priority">Normal</td>
        <td class="type">Task</td>
        <td class="status">Open</td>
        <td class="updated">1 hour 49 min ago</td>
      </tr>
      <tr>
        <td class="task"><a href="">Second Task</a></td>
        <td class="assigned"><a href="">David Snopek</a></td>
        <td class="project"><a href="">First Project</a></td>
        <td class="priority">High</td>
        <td class="type">Task</td>
        <td class="status">Resolved</td>
        <td class="updated">1 day 31 min ago</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>




{{> molecules-atrium-page-frame-bottom }}
