{{> molecules-atrium-page-frame-top }}




<h2>SM-DPD-ED</h2>


<div class="accordion--sets">
  <!-- control all accordions -->
  <a class="accordion--control-all" data-action="expand" href="">Expand All</a>
  <!-- accordion set -->
  <div class="accordion--set">
    <h3 class="accordion--set--title">Vision</h3>
    <div class="accordion" data-state="open">
      <div class="accordion--header">
        <h4 class="accordion--title">Current State</h4>
        <a class="accordion--control" href="" title="close">&ndash;</a>
      </div>
      <div class="accordion--body">
        <ul>
          <li>Heavy use of paper notebooks</li>
          <li>Use of electronic systems, non-harmonized documentation practices</li>
          <li>OSI-Pi is a data graveyard</li>
          <li>Personalized Excel templates are common</li>
          <li>Manual Data aggregation</li>
          <li>OFAT visualization of long partnership for advanced analytics</li>
        </ul>
        <a class="button" href="">Find Training</a>
        <a class="button" href="">Use Application</a>
      </div>
    </div>
    <div class="accordion" data-state="closed">
      <div class="accordion--header">
        <h4 class="accordion--title">Next Generation - September 2015</h4>
        <a class="accordion--control" href="" title="expand">&plus;</a>
      </div>
      <div class="accordion--body">
        <ul>
          <li>Bulleted text describes the near-future</li>
          <li>for the tool</li>
          <li>from a high-level perspective.</li>
        </ul>
        <a class="button" href="">A Button</a>
      </div>
    </div>
    <div class="accordion" data-state="closed">
      <div class="accordion--header">
        <h4 class="accordion--title">End Goal</h4>
        <a class="accordion--control" href="" title="expand">&plus;</a>
      </div>
      <div class="accordion--body">
        <ul>
          <li>Bulleted text describes the end goal</li>
          <li>for the tool</li>
          <li>from a high-level perspective.</li>
        </ul>
        <a class="button" href="">A Button</a>
      </div>
    </div>
  </div>
  <!-- accordion set -->
  <div class="accordion--set">
    <h3 class="accordion--set--title">Key Business Outputs</h3>
    <div class="accordion" data-state="open">
      <div class="accordion--header">
        <h4 class="accordion--title">Current State</h4>
        <a class="accordion--control" href="" title="close">&ndash;</a>
      </div>
      <div class="accordion--body">
        <ul>
          <li>Resource and time intensive manual data aggregation</li>
          <li>Document-based tech transfer</li>
          <li>Non-standard visualization of data</li>
        </ul>
        <a class="button" href="">Find Training</a>
        <a class="button" href="">Use Application</a>
      </div>
    </div>
    <div class="accordion" data-state="closed">
      <div class="accordion--header">
        <h4 class="accordion--title">Next Generation - April 2016</h4>
        <a class="accordion--control" href="" title="expand">&plus;</a>
      </div>
      <div class="accordion--body">
        <ul>
          <li>Bulleted text describes the near-future</li>
          <li>for the tool</li>
          <li>from a high-level perspective.</li>
        </ul>
        <a class="button" href="">A Button</a>
      </div>
    </div>
    <div class="accordion" data-state="closed">
      <div class="accordion--header">
        <h4 class="accordion--title">End Goal</h4>
        <a class="accordion--control" href="" title="expand">&plus;</a>
      </div>
      <div class="accordion--body">
        <ul>
          <li>Bulleted text describes the end goal</li>
          <li>for the tool</li>
          <li>from a high-level perspective.</li>
        </ul>
        <a class="button" href="">A Button</a>
      </div>
    </div>
  </div>
  <!-- accordion set -->
  <div class="accordion--set">
    <h3 class="accordion--set--title">Platforms & Technologies</h3>
    <div class="accordion" data-state="open">
      <div class="accordion--header">
        <h4 class="accordion--title">Current State</h4>
        <a class="accordion--control" href="" title="close">&ndash;</a>
      </div>
      <div class="accordion--body">
        <ul>
          <li>ELN</li>
          <li>OSI-Pi</li>
          <li>Empower</li>
          <li>Excel</li>
          <li>SharePoint</li>
        </ul>
        <a class="button" href="">Find Training</a>
        <a class="button" href="">Use Application</a>
      </div>
    </div>
    <div class="accordion" data-state="closed">
      <div class="accordion--header">
        <h4 class="accordion--title">Next Generation - DEcember 2016</h4>
        <a class="accordion--control" href="" title="expand">&plus;</a>
      </div>
      <div class="accordion--body">
        <ul>
          <li>Bulleted text describes the near-future</li>
          <li>for the tool</li>
          <li>from a high-level perspective.</li>
        </ul>
        <a class="button" href="">A Button</a>
      </div>
    </div>
    <div class="accordion" data-state="closed">
      <div class="accordion--header">
        <h4 class="accordion--title">End Goal</h4>
        <a class="accordion--control" href="" title="expand">&plus;</a>
      </div>
      <div class="accordion--body">
        <ul>
          <li>Bulleted text describes the end goal</li>
          <li>for the tool</li>
          <li>from a high-level perspective.</li>
        </ul>
        <a class="button" href="">A Button</a>
      </div>
    </div>
  </div>
</div>





{{> molecules-atrium-page-frame-bottom }}
