<table class="views-table sticky-enabled cols-7 table table-striped table-bordered tableheader-processed sticky-table">
  <thead>
  <tr>
    <th>
    </th>
    <th>
      <a href="/knowledge-management/process-knowledge-and-understanding?field_activity_type_tid=23&amp;og_group_ref_target_id=796&amp;og_group_ref_target_id_mine=0&amp;oa_section_ref_target_id=All&amp;flagged=0&amp;og_subspaces_view_all=0&amp;og_subspaces_view_parent=0&amp;order=title&amp;sort=desc" title="sort by Title" class="active">Title<img typeof="foaf:Image" src="http://local.jnj/misc/arrow-desc.png" width="13" height="13" alt="sort descending" title="sort descending"></a>            </th>
    <th class="views-field views-field-field-pm-budget">
      Budget            </th>
    <th class="views-field views-field-field-activity-status">
      <a href="/knowledge-management/process-knowledge-and-understanding?field_activity_type_tid=23&amp;og_group_ref_target_id=796&amp;og_group_ref_target_id_mine=0&amp;oa_section_ref_target_id=All&amp;flagged=0&amp;og_subspaces_view_all=0&amp;og_subspaces_view_parent=0&amp;order=field_activity_status&amp;sort=asc" title="sort by Status" class="active">Status</a>            </th>
    <th class="views-field views-field-edit-node">
      Edit            </th>
    <th class="views-field views-field-og-group-ref">
      Owner            </th>
    <th class="views-field views-field-oa-other-spaces-ref">
      Co-Sponsorship            </th>
  </tr>
  </thead>
  <tbody>
  <tr class="odd views-row-first">
    <td>
    </td>
    <td>
      <a href="/process-knowledge-and-understanding/fpx/implementation-pat-data-management-strategy"> Implementation of PAT Data Management Strategy</a>            </td>
    <td class="views-field views-field-field-pm-budget">
    </td>
    <td class="views-field views-field-field-activity-status">
    </td>
    <td class="views-field views-field-edit-node">
      <a href="/node/21531/edit?destination=node/796">[edit]</a>            </td>
    <td class="views-field views-field-og-group-ref">
      <a href="/knowledge-management/process-knowledge-and-understanding" class="active">Process Knowledge and Understanding</a>            </td>
    <td class="views-field views-field-oa-other-spaces-ref">
      <a href="/modeling/modeling-lcm">Modeling LCM</a>, <a href="/collaborations-analysis-layer-ontology-collaboration/rutgers-collaboration-big-data">Rutgers Collaboration on Big Data</a>            </td>
  </tr>
  <tr class="even">
    <td></td>
    <td>
      <a href="/process-knowledge-and-understanding/fpx/new-ed-process-lm"> New ED process for LM</a>            </td>
    <td class="views-field views-field-field-pm-budget">
    </td>
    <td class="views-field views-field-field-activity-status">
      <a href="/activity-status/progress" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">In Progress</a>            </td>
    <td class="views-field views-field-edit-node">
      <a href="/node/21533/edit?destination=node/796">[edit]</a>            </td>
    <td class="views-field views-field-og-group-ref">
      <a href="/knowledge-management/process-knowledge-and-understanding" class="active">Process Knowledge and Understanding</a>            </td>
    <td class="views-field views-field-oa-other-spaces-ref">
      <a href="/collaborations/biologics-early-development-approach">Biologics Early Development Approach</a>, <a href="/process-knowledge-and-understanding/strategic-operations">Strategic Operations</a>, <a href="/knowledge-management/lean-early-development">Lean Early Development</a>            </td>
  </tr>
  <tr class="odd">
    <td>
    </td>
    <td>
      <a href="/process-knowledge-and-understanding/strategic-operations/fpx/aggressive-cev-implementation-strategy">Aggressive CEV Implementation Strategy</a>            </td>
    <td class="views-field views-field-field-pm-budget">
    </td>
    <td class="views-field views-field-field-activity-status">
      <a href="/activity-status/progress" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">In Progress</a>            </td>
    <td class="views-field views-field-edit-node">
      <a href="/node/26873/edit?destination=node/796">[edit]</a>            </td>
    <td class="views-field views-field-og-group-ref">
      <a href="/process-knowledge-and-understanding/strategic-operations">Strategic Operations</a>            </td>
    <td class="views-field views-field-oa-other-spaces-ref">
      <a href="/knowledge-management/process-knowledge-and-understanding" class="active">Process Knowledge and Understanding</a>            </td>
  </tr>
  <tr class="even">
    <td>
    </td>
    <td>
      <a href="/process-knowledge-and-understanding/fpx/drive-robust-criticality-analysis-development-and-lcm">Drive Robust Criticality Analysis for development and LCM</a>            </td>
    <td class="views-field views-field-field-pm-budget">
    </td>
    <td class="views-field views-field-field-activity-status">
    </td>
    <td class="views-field views-field-edit-node">
      <a href="/node/21525/edit?destination=node/796">[edit]</a>            </td>
    <td class="views-field views-field-og-group-ref">
      <a href="/knowledge-management/process-knowledge-and-understanding" class="active">Process Knowledge and Understanding</a>            </td>
    <td class="views-field views-field-oa-other-spaces-ref">
      <a href="/process-knowledge-and-understanding/remicade-mspc">Remicade MSPC</a>, <a href="/process-knowledge-and-understanding/solids-recipe-development-gainer">Solids Recipe Development for Gainer</a>, <a href="/process-knowledge-and-understanding/risk-assessments">Risk Assessments</a>            </td>
  </tr>
  <tr class="odd views-row-last">
    <td>
    </td>
    <td>
      <a href="/process-knowledge-and-understanding/fpx/drug-product-continuous-manufacturing">Drug Product Continuous Manufacturing</a>            </td>
    <td class="views-field views-field-field-pm-budget">
    </td>
    <td class="views-field views-field-field-activity-status">
    </td>
    <td class="views-field views-field-edit-node">
      <a href="/node/21523/edit?destination=node/796">[edit]</a>            </td>
    <td class="views-field views-field-og-group-ref">
      <a href="/knowledge-management/process-knowledge-and-understanding" class="active">Process Knowledge and Understanding</a>            </td>
    <td class="views-field views-field-oa-other-spaces-ref">
      <a href="/collaborations-analysis-layer-ontology-collaboration/rutgers-collaboration-big-data">Rutgers Collaboration on Big Data</a>, <a href="/process-knowledge-and-understanding/idm-rw">IDM-RW</a>, <a href="/process-knowledge-and-understanding/remicade-mspc">Remicade MSPC</a>, <a href="/ontology-collaboration-visualization-layer/lehigh-collaboration">Lehigh Collaboration</a>            </td>
  </tr>
  </tbody>
</table>
