<table>
  <tbody>
  <tr>
    <td>Outcome</td>
    <td><span>With wide spread use of such process engineering tools as PAT, CA, and multivariate analysis, the design space and process knowledge will be more completely documented and utilized in both development and commercial manufacturing to drive quality and efficiency.</span></td>
  </tr>
  <tr>
    <td>Transformation</td>
    <td>Transform documentation strategies to data base driven documentation thereby enabling re-use and accuracy.</td>
  </tr>
  <tr>
    <td>Motivation</td>
    <td>A significant amount of time is spent creating documentation from templates - these templates are parameterized to give the end users a method to complete their task - continuing a document centric model in this manner is not scalable and difficult for portfolio management - PKU seeks to drive a more recipe/data based driven methodology to help reuse and oversight of underlying information</td>
  </tr>
  </tbody>
</table>
