//
// Shame
//
// For misc styles that don't belong anywhere else or need to appear last in source order
//
//@import 'breakpoint';

* {
  /*outline: 1px dashed hotpink;*/
}

//h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
//  font-family: font(font--karbon);
//  font-weight: 500;
//  line-height: 1.1;
//  color: inherit;
//}

@mixin jpc-gradient($grad: darkblue-blue) {
  @if $grad == darkblue-blue {
    background-color: color(blue);
    background-image: linear-gradient(to right, color(blue, dark), color(blue));
  }
  @else if $grad == lightorange-yellow {
    background-color: color(orange);
    background-image: linear-gradient(to right, color(orange, light), color(yellow));
  }
}


#page-title {
  @include jpc-gradient();
  color: color(white);
}

