&lt;!--SITE-WIDE HEADER--&gt;
&lt;div class=&quot;site-wide-header&quot;&gt;
  &lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;header-wrapper&quot;&gt;
      &lt;div class=&quot;site-wide-header--logo&quot;&gt;
        &lt;a href=&quot;/&quot; title=&quot;Janssen&quot;&gt;&lt;img src=&quot;../../images/Janssen_Prof_RGB.png&quot; alt=&quot;Janssen&quot;&gt;&lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;site-wide-header--title&quot;&gt;
        Process Knowledge and Understanding
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;!--SITE-WIDE HEADER--&gt;
