{{&gt; molecules-atrium-page-frame-top }}




&lt;h2&gt;FPx&lt;/h2&gt;


&lt;div class=&quot;accordion--sets&quot;&gt;
  &lt;!-- control all accordions --&gt;
  &lt;a class=&quot;accordion--control-all&quot; data-action=&quot;expand&quot; href=&quot;&quot;&gt;Expand All&lt;/a&gt;
  &lt;!-- accordion set --&gt;
  &lt;div class=&quot;accordion--set&quot;&gt;
    &lt;h3 class=&quot;accordion--set--title&quot;&gt;Final Project Objectives&lt;/h3&gt;
    &lt;!-- accordion --&gt;
    &lt;div class=&quot;accordion&quot; data-state=&quot;closed&quot;&gt;
      &lt;div class=&quot;accordion--header&quot;&gt;
        &lt;h4 class=&quot;accordion--title&quot;&gt;Implementation of PAT Data Management Strategy&lt;/h4&gt;
        &lt;div class=&quot;fpx--status&quot;&gt;on schedule&lt;/div&gt;
        &lt;a class=&quot;accordion--control&quot; href=&quot;&quot; title=&quot;close&quot;&gt;&amp;ndash;&lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;accordion--body&quot;&gt;
        &lt;div class=&quot;fpx-item&quot;&gt;
          &lt;div class=&quot;fpx-item--title&quot;&gt;Status&lt;/div&gt;
          &lt;div class=&quot;fpx-item--text&quot;&gt;In progress - no blockers&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;fpx-item&quot;&gt;
          &lt;div class=&quot;fpx-item--title&quot;&gt;Completion Date&lt;/div&gt;
          &lt;div class=&quot;fpx-item--text&quot;&gt;Q3 2015&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;fpx-item&quot;&gt;
          &lt;div class=&quot;fpx-item--title&quot;&gt;Owner&lt;/div&gt;
          &lt;div class=&quot;fpx-item--text&quot;&gt;
            &lt;a href=&quot;&quot;&gt;Process Knowledge and Understanding&lt;/a&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;fpx-item&quot;&gt;
          &lt;div class=&quot;fpx-item--title&quot;&gt;Co-Sponsors&lt;/div&gt;
          &lt;div class=&quot;fpx-item--text&quot;&gt;&lt;a href=&quot;&quot;&gt;Modelling LCM&lt;/a&gt;, &lt;a href=&quot;&quot;&gt;Rutgers Collaboration on Big Data&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;a class=&quot;button&quot; href=&quot;&quot;&gt;Project Details&lt;/a&gt;
        &lt;div class=&quot;fpx--edit&quot;&gt;&lt;a href=&quot;&quot;&gt;edit&lt;/a&gt;&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- accordion --&gt;
    &lt;div class=&quot;accordion&quot; data-state=&quot;closed&quot;&gt;
      &lt;div class=&quot;accordion--header&quot;&gt;
        &lt;h4 class=&quot;accordion--title&quot;&gt;New ED Process LM&lt;/h4&gt;
        &lt;div class=&quot;fpx--status&quot;&gt;delayed&lt;/div&gt;
        &lt;a class=&quot;accordion--control&quot; href=&quot;&quot; title=&quot;close&quot;&gt;&amp;ndash;&lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;accordion--body&quot;&gt;
        &lt;div class=&quot;fpx-item&quot;&gt;
          &lt;div class=&quot;fpx-item--title&quot;&gt;Status&lt;/div&gt;
          &lt;div class=&quot;fpx-item--text&quot;&gt;In progress - no blockers&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;fpx-item&quot;&gt;
          &lt;div class=&quot;fpx-item--title&quot;&gt;Completion Date&lt;/div&gt;
          &lt;div class=&quot;fpx-item--text&quot;&gt;Q3 2015&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;fpx-item&quot;&gt;
          &lt;div class=&quot;fpx-item--title&quot;&gt;Owner&lt;/div&gt;
          &lt;div class=&quot;fpx-item--text&quot;&gt;
            &lt;a href=&quot;&quot;&gt;Process Knowledge and Understanding&lt;/a&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;fpx-item&quot;&gt;
          &lt;div class=&quot;fpx-item--title&quot;&gt;Co-Sponsors&lt;/div&gt;
          &lt;div class=&quot;fpx-item--text&quot;&gt;&lt;a href=&quot;&quot;&gt;Modelling LCM&lt;/a&gt;, &lt;a href=&quot;&quot;&gt;Rutgers Collaboration on Big Data&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;a class=&quot;button&quot; href=&quot;&quot;&gt;Project Details&lt;/a&gt;
        &lt;div class=&quot;fpx--edit&quot;&gt;&lt;a href=&quot;&quot;&gt;edit&lt;/a&gt;&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- accordion --&gt;
    &lt;div class=&quot;accordion&quot; data-state=&quot;closed&quot;&gt;
      &lt;div class=&quot;accordion--header&quot;&gt;
        &lt;h4 class=&quot;accordion--title&quot;&gt;Aggressive CEV Implementation Strategy&lt;/h4&gt;
        &lt;div class=&quot;fpx--status&quot;&gt;work stopped&lt;/div&gt;
        &lt;a class=&quot;accordion--control&quot; href=&quot;&quot; title=&quot;close&quot;&gt;&amp;ndash;&lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;accordion--body&quot;&gt;
        &lt;div class=&quot;fpx-item&quot;&gt;
          &lt;div class=&quot;fpx-item--title&quot;&gt;Status&lt;/div&gt;
          &lt;div class=&quot;fpx-item--text&quot;&gt;In progress - no blockers&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;fpx-item&quot;&gt;
          &lt;div class=&quot;fpx-item--title&quot;&gt;Completion Date&lt;/div&gt;
          &lt;div class=&quot;fpx-item--text&quot;&gt;Q3 2015&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;fpx-item&quot;&gt;
          &lt;div class=&quot;fpx-item--title&quot;&gt;Owner&lt;/div&gt;
          &lt;div class=&quot;fpx-item--text&quot;&gt;
            &lt;a href=&quot;&quot;&gt;Process Knowledge and Understanding&lt;/a&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;fpx-item&quot;&gt;
          &lt;div class=&quot;fpx-item--title&quot;&gt;Co-Sponsors&lt;/div&gt;
          &lt;div class=&quot;fpx-item--text&quot;&gt;&lt;a href=&quot;&quot;&gt;Modelling LCM&lt;/a&gt;, &lt;a href=&quot;&quot;&gt;Rutgers Collaboration on Big Data&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;a class=&quot;button&quot; href=&quot;&quot;&gt;Project Details&lt;/a&gt;
        &lt;div class=&quot;fpx--edit&quot;&gt;&lt;a href=&quot;&quot;&gt;edit&lt;/a&gt;&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- accordion --&gt;
    &lt;div class=&quot;accordion&quot; data-state=&quot;closed&quot;&gt;
      &lt;div class=&quot;accordion--header&quot;&gt;
        &lt;h4 class=&quot;accordion--title&quot;&gt;Drive Robust Critical Analysis for development and LCM&lt;/h4&gt;
        &lt;div class=&quot;fpx--status&quot;&gt;ahead of schedule&lt;/div&gt;
        &lt;a class=&quot;accordion--control&quot; href=&quot;&quot; title=&quot;close&quot;&gt;&amp;ndash;&lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;accordion--body&quot;&gt;
        &lt;div class=&quot;fpx-item&quot;&gt;
          &lt;div class=&quot;fpx-item--title&quot;&gt;Status&lt;/div&gt;
          &lt;div class=&quot;fpx-item--text&quot;&gt;In progress - no blockers&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;fpx-item&quot;&gt;
          &lt;div class=&quot;fpx-item--title&quot;&gt;Completion Date&lt;/div&gt;
          &lt;div class=&quot;fpx-item--text&quot;&gt;Q3 2015&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;fpx-item&quot;&gt;
          &lt;div class=&quot;fpx-item--title&quot;&gt;Owner&lt;/div&gt;
          &lt;div class=&quot;fpx-item--text&quot;&gt;
            &lt;a href=&quot;&quot;&gt;Process Knowledge and Understanding&lt;/a&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;fpx-item&quot;&gt;
          &lt;div class=&quot;fpx-item--title&quot;&gt;Co-Sponsors&lt;/div&gt;
          &lt;div class=&quot;fpx-item--text&quot;&gt;&lt;a href=&quot;&quot;&gt;Modelling LCM&lt;/a&gt;, &lt;a href=&quot;&quot;&gt;Rutgers Collaboration on Big Data&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;a class=&quot;button&quot; href=&quot;&quot;&gt;Project Details&lt;/a&gt;
        &lt;div class=&quot;fpx--edit&quot;&gt;&lt;a href=&quot;&quot;&gt;edit&lt;/a&gt;&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- accordion --&gt;
    &lt;div class=&quot;accordion&quot; data-state=&quot;closed&quot;&gt;
      &lt;div class=&quot;accordion--header&quot;&gt;
        &lt;h4 class=&quot;accordion--title&quot;&gt;Drug Product Continuous Manufacturing&lt;/h4&gt;
        &lt;div class=&quot;fpx--status&quot;&gt;on schedule&lt;/div&gt;
        &lt;a class=&quot;accordion--control&quot; href=&quot;&quot; title=&quot;close&quot;&gt;&amp;ndash;&lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;accordion--body&quot;&gt;
        &lt;div class=&quot;fpx-item&quot;&gt;
          &lt;div class=&quot;fpx-item--title&quot;&gt;Status&lt;/div&gt;
          &lt;div class=&quot;fpx-item--text&quot;&gt;In progress - no blockers&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;fpx-item&quot;&gt;
          &lt;div class=&quot;fpx-item--title&quot;&gt;Completion Date&lt;/div&gt;
          &lt;div class=&quot;fpx-item--text&quot;&gt;Q3 2015&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;fpx-item&quot;&gt;
          &lt;div class=&quot;fpx-item--title&quot;&gt;Owner&lt;/div&gt;
          &lt;div class=&quot;fpx-item--text&quot;&gt;
            &lt;a href=&quot;&quot;&gt;Process Knowledge and Understanding&lt;/a&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;fpx-item&quot;&gt;
          &lt;div class=&quot;fpx-item--title&quot;&gt;Co-Sponsors&lt;/div&gt;
          &lt;div class=&quot;fpx-item--text&quot;&gt;&lt;a href=&quot;&quot;&gt;Modelling LCM&lt;/a&gt;, &lt;a href=&quot;&quot;&gt;Rutgers Collaboration on Big Data&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;a class=&quot;button&quot; href=&quot;&quot;&gt;Project Details&lt;/a&gt;
        &lt;div class=&quot;fpx--edit&quot;&gt;&lt;a href=&quot;&quot;&gt;edit&lt;/a&gt;&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;





{{&gt; molecules-atrium-page-frame-bottom }}
