<!--SITE-WIDE HEADER-->
<div class="site-wide-header container">
  <div class="site-wide-header--logo">
    <a href="index.html" title="Janssen"><img src="../../images/janssen-logo.png" alt="Janssen" width="360" height="78"></a>
  </div>
  <div class="site-wide-header--title">
    Process Knowledge and Understanding
  </div>
</div>
<!--SITE-WIDE HEADER-->
