<!--SITE-WIDE HEADER-->
<div class="site-wide-header container">
  <div class="site-wide-header--logo">
    <a href="/" title="Janssen"><img src="../../images/Janssen_Prof_RGB.png" alt="Janssen"></a>
  </div>
  <div class="site-wide-header--title">
    Process Knowledge and Understanding
  </div>
</div>
<!--SITE-WIDE HEADER-->
