<!-- Begin Footer -->
<footer id="footer" class="footer" role="footer">
  <div class="container">
    <div class="site-wide-footer--logo">
      <a href="/" title="Janssen"><img src="../../images/Janssen_Prof_RGB.png" alt="Janssen"></a>
    </div>
    <div class="powered-by-atrium">
      <span>Powered by </span>
      <a href="http://openatrium.com" class="oa_powered_link"></a>
    </div>
  </div>
</footer>
<!-- End Footer -->
