<!-- Begin Footer -->
<footer id="footer" class="footer" role="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-inner">

          <div class="panel-display sutro-double clearfix radix-sutro-double" id="mini-panel-oa_footer_panel">

            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 radix-layouts-header panel-panel">
                  <div class="panel-panel-inner">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 radix-layouts-column1 panel-panel">
                  <div class="panel-panel-inner">
                  </div>
                </div>
                <div class="col-md-6 radix-layouts-column2 panel-panel">
                  <div class="panel-panel-inner">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 radix-layouts-middle panel-panel">
                  <div class="panel-panel-inner">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 radix-layouts-secondcolumn1 panel-panel">
                  <div class="panel-panel-inner">
                  </div>
                </div>
                <div class="col-md-6 radix-layouts-secondcolumn2 panel-panel">
                  <div class="panel-panel-inner">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 radix-layouts-footer panel-panel">
                  <div class="panel-panel-inner">
                    <div class="panel-pane pane-oa-widgets-powered-by pull-right">



                      <div class="pane-content">
                        <a href="http://openatrium.com" class="oa_powered_link">Powered by</a>  </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div><!-- /.sutro-double -->
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
