{{# meta }}
  &lt;h3&gt;How to use icons&lt;/h3&gt;
  &lt;p&gt;&lt;strong&gt;In HTML&lt;/strong&gt;&lt;/p&gt;
  &lt;p&gt;Add the class: `icon--name-of-icon` like this: `icon--arrow-down`&lt;/p&gt;
  &lt;p&gt;&lt;strong&gt;In Sass&lt;/strong&gt;&lt;/p&gt;
  &lt;p&gt;Use the mixin `icon` with the argument of the icon name like this: `@include icon(arrow-down);`&lt;/p&gt;
  &lt;p&gt;&lt;strong&gt;Adding Icons&lt;/strong&gt;&lt;/p&gt;
  &lt;p&gt;Add SVG files to `source/images/icons/src/` and run `grunt`&lt;/p&gt;
{{/ meta }}
&lt;ul class=&quot;icons pl-icons-list&quot;&gt;


  &lt;li class=&quot;icons__item&quot; data-name=&quot;arrow--down&quot;&gt;
    &lt;p&gt;arrow--down&lt;/p&gt;
    &lt;i class=&quot;icon--arrow--down&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--arrow--down&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--arrow--down&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;arrow--left-medium&quot;&gt;
    &lt;p&gt;arrow--left-medium&lt;/p&gt;
    &lt;i class=&quot;icon--arrow--left-medium&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--arrow--left-medium&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--arrow--left-medium&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;arrow--left&quot;&gt;
    &lt;p&gt;arrow--left&lt;/p&gt;
    &lt;i class=&quot;icon--arrow--left&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--arrow--left&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--arrow--left&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;arrow--right-medium&quot;&gt;
    &lt;p&gt;arrow--right-medium&lt;/p&gt;
    &lt;i class=&quot;icon--arrow--right-medium&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--arrow--right-medium&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--arrow--right-medium&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;arrow--right&quot;&gt;
    &lt;p&gt;arrow--right&lt;/p&gt;
    &lt;i class=&quot;icon--arrow--right&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--arrow--right&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--arrow--right&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;arrow--up-medium&quot;&gt;
    &lt;p&gt;arrow--up-medium&lt;/p&gt;
    &lt;i class=&quot;icon--arrow--up-medium&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--arrow--up-medium&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--arrow--up-medium&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;arrow--up&quot;&gt;
    &lt;p&gt;arrow--up&lt;/p&gt;
    &lt;i class=&quot;icon--arrow--up&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--arrow--up&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--arrow--up&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;bars&quot;&gt;
    &lt;p&gt;bars&lt;/p&gt;
    &lt;i class=&quot;icon--bars&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--bars&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--bars&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;caret-down&quot;&gt;
    &lt;p&gt;caret-down&lt;/p&gt;
    &lt;i class=&quot;icon--caret-down&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--caret-down&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--caret-down&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;caret-right&quot;&gt;
    &lt;p&gt;caret-right&lt;/p&gt;
    &lt;i class=&quot;icon--caret-right&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--caret-right&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--caret-right&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;caret-up&quot;&gt;
    &lt;p&gt;caret-up&lt;/p&gt;
    &lt;i class=&quot;icon--caret-up&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--caret-up&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--caret-up&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;check&quot;&gt;
    &lt;p&gt;check&lt;/p&gt;
    &lt;i class=&quot;icon--check&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--check&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--check&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;envelope&quot;&gt;
    &lt;p&gt;envelope&lt;/p&gt;
    &lt;i class=&quot;icon--envelope&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--envelope&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--envelope&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;facebook&quot;&gt;
    &lt;p&gt;facebook&lt;/p&gt;
    &lt;i class=&quot;icon--facebook&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--facebook&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--facebook&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;heart-o&quot;&gt;
    &lt;p&gt;heart-o&lt;/p&gt;
    &lt;i class=&quot;icon--heart-o&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--heart-o&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--heart-o&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;heart&quot;&gt;
    &lt;p&gt;heart&lt;/p&gt;
    &lt;i class=&quot;icon--heart&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--heart&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--heart&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;instagram&quot;&gt;
    &lt;p&gt;instagram&lt;/p&gt;
    &lt;i class=&quot;icon--instagram&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--instagram&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--instagram&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;pinterest&quot;&gt;
    &lt;p&gt;pinterest&lt;/p&gt;
    &lt;i class=&quot;icon--pinterest&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--pinterest&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--pinterest&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;play-circle&quot;&gt;
    &lt;p&gt;play-circle&lt;/p&gt;
    &lt;i class=&quot;icon--play-circle&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--play-circle&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--play-circle&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;play&quot;&gt;
    &lt;p&gt;play&lt;/p&gt;
    &lt;i class=&quot;icon--play&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--play&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--play&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;remove&quot;&gt;
    &lt;p&gt;remove&lt;/p&gt;
    &lt;i class=&quot;icon--remove&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--remove&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--remove&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;search&quot;&gt;
    &lt;p&gt;search&lt;/p&gt;
    &lt;i class=&quot;icon--search&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--search&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--search&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;shopping-bag&quot;&gt;
    &lt;p&gt;shopping-bag&lt;/p&gt;
    &lt;i class=&quot;icon--shopping-bag&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--shopping-bag&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--shopping-bag&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;tumblr&quot;&gt;
    &lt;p&gt;tumblr&lt;/p&gt;
    &lt;i class=&quot;icon--tumblr&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--tumblr&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--tumblr&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;twitter&quot;&gt;
    &lt;p&gt;twitter&lt;/p&gt;
    &lt;i class=&quot;icon--twitter&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--twitter&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--twitter&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;

  &lt;li class=&quot;icons__item&quot; data-name=&quot;youtube&quot;&gt;
    &lt;p&gt;youtube&lt;/p&gt;
    &lt;i class=&quot;icon--youtube&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--youtube&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;icon--youtube&quot;&gt;&lt;/i&gt;
  &lt;/li&gt;


&lt;/ul&gt;



{{# meta }}
&lt;style&gt;
  .icons__item {
    margin-bottom: 1.5em;
  }
  .icons__item p {
    margin-bottom: 0;
  }
  .icons__item &gt; i {
    font-size: 16px;
  }
  .icons__item &gt; i + i {
    font-size: 32px;
  }
  .icons__item &gt; i + i + i {
    font-size: 64px;
  }
&lt;/style&gt;
{{/ meta }}