<nav id="nav" class="nav">
  <ul class="nav-list">
    <li><a href="{{ url }}">Home</a></li>
    <li><a href="{{ url }}">Portfolio</a></li>
    <li><a href="{{ url }}">Speaking</a></li>
    <li><a href="{{ url }}">Projects</a></li>
    <li><a href="{{ url }}">Articles</a></li>
    <li><a href="{{ url }}">Tutorials</a></li>
    <li><a href="{{ url }}">Contact</a></li>
  </ul>
</nav>
