&lt;div class=&quot;sg-ms-fonts&quot;&gt;
  &lt;ol class=&quot;sg-ms pl-font-surveyor&quot;&gt;
    {{# listItems.twelve}}
      &lt;li&gt;{{headline.short}}&lt;/li&gt;
    {{/ listItems.twelve}}
  &lt;/ol&gt;
  &lt;ol class=&quot;sg-ms pl-font-surveyor-italic&quot;&gt;
    {{# listItems.twelve}}
      &lt;li&gt;{{headline.short}}&lt;/li&gt;
    {{/ listItems.twelve}}
  &lt;/ol&gt;
&lt;/div&gt;
