{{#jira_id}}
&lt;ul class=&quot;pl-meta jira-info&quot;&gt;
  &lt;li&gt;Jira Issue {{ jira_id }}&lt;/li&gt;
  &lt;li&gt;Jira Link: https://elcjira.atlassian.net/browse/{{ jira_id }}&lt;/li&gt;
&lt;/ul&gt;
{{/jira_id}}
