<ul class="pl-font">
  <li class="pl-font-surveyor">
    [surveyor]: {{ headline.short }}
    {{# meta }}
      {{# font-serif}}
        {{>atoms-scss-style}}
      {{/ font-serif}}
    {{/meta}}
    <hr />
  </li>
  <li class="pl-font-surveyor-italic">
    [surveyor italic]: {{ headline.short }}
    {{# meta }}
      {{# font-serif-italic}}
        {{>atoms-scss-style}}
      {{/ font-serif-italic}}
    {{/meta}}
    <hr />
  </li>
  <li class="pl-font-surveyor-bold">
    [surveyor bold]: {{ headline.short }}
    {{# meta }}
      {{# font-serif-bold}}
        {{>atoms-scss-style}}
      {{/ font-serif-bold}}
    {{/meta}}
    <hr />
  </li>
  <li class="pl-font-surveyor-bold-italic">
    [surveyor bold italic]: {{ headline.short }}
    {{# meta }}
      {{# font-serif-bold-italic}}
        {{>atoms-scss-style}}
      {{/ font-serif-bold-italic}}
    {{/meta}}
    <hr />
  </li>
  <li class="pl-font-whitney">
    [whitney]: {{ headline.short }}
    {{# meta }}
       {{# font-helvetica}}
        {{>atoms-scss-style}}
      {{/ font-helvetica}}
    {{/meta}}
    <hr />
  </li>
  <li class="pl-font-whitney-italic">
    [whitney italic]: {{ headline.short }}
    {{# meta }}
       {{# font-helvetica-italic}}
        {{>atoms-scss-style}}
      {{/ font-helvetica-italic}}
    {{/meta}}
    <hr />
  </li>
  <li class="pl-font-whitney-bold">
    [whitney bold]: {{ headline.short }}
    {{# meta }}
       {{# font-helvetica-bold}}
        {{>atoms-scss-style}}
      {{/ font-helvetica-bold}}
    {{/meta}}
    <hr />
  </li>
  <li class="pl-font-whitney-bold-italic">
    [whitney bold italic]: {{ headline.short }}
    {{# meta }}
       {{# font-helvetica-bold-italic}}
        {{>atoms-scss-style}}
      {{/ font-helvetica-bold-italic}}
    {{/meta}}
    <hr />
  </li>
  <li class="pl-font-landmark">
    [landmark]: {{ headline.short }}
    {{# meta }}
       {{# font-landmark}}
        {{>atoms-scss-style}}
      {{/ font-landmark}}
    {{/meta}}
    <hr />
  </li>
  <li class="pl-font-landmark-inline">
    [landmark inline]: {{ headline.short }}
    {{# meta }}
       {{# font-landmark-inline}}
        {{>atoms-scss-style}}
      {{/ font-landmark-inline}}
    {{/meta}}
    <hr />
  </li>
  <li class="pl-font-landmark-shadow">
    [landmark shadow]: {{ headline.short }}
    {{# meta }}
       {{# font-landmark-shadow}}
        {{>atoms-scss-style}}
      {{/ font-landmark-shadow}}
    {{/meta}}
    <hr />
  </li>
  <li class="pl-font-landmark-dimensional">
    [landmark dimensional]: {{ headline.short }}
    {{# meta }}
       {{# font-landmark-dimensional}}
        {{>atoms-scss-style}}
      {{/ font-landmark-dimensional}}
    {{/meta}}
    <hr />
  </li>
</ul>
