<table class="pl-typesizes"><thead><tr><th>Name</th><th>Example</th></tr></thead><tbody>
  {{#pl_fonts}}
    <tr class="pl-typesize"><td>{{value}}</td><td style="font-size: {{value}};">{{ name }} - {{headline.short}}</td></tr>
  {{/pl_fonts}}
</tbody></table>
