<div class="text">
	<p><a href="#">This is a text link. Decenders: qypgj.</a></p>

	<p><strong>Strong is used to indicate strong importance</strong></p>

	<p><em>This text has added emphasis</em></p>

	<p><small>This small text is small for for fine print, etc.</small></p>

</div><!--end .text-->
