<div id="wrap">
  <p><em>Thanks to <a href="http://jontangerine.com">Jon Tan</a></em>: Ligatures test suit</p>
  <p>A small test suit for unicode ligature (alphabetic presentation forms) support in browsers. To test different fonts change your browser defaults.</p>

  <h2>Ligatures with generic <code>font-style: normal;</code></h2>
  <table style="font-style: normal" summary="Serif table">
    <thead>
    <tr><th scope="col">Character</th><th scope="col">Ligature</th><th scope="col">Numeric reference</th></tr>
    </thead>
    <tbody>
    <tr><td class="definition">Latin small ligature ff</td><td>ﬀ</td><td><code>&amp;#64256;</code></td></tr>
    <tr><td class="definition">Latin small ligature fi</td><td>ﬁ</td><td><code>&amp;#64257;</code></td></tr>
    <tr><td class="definition">Latin small ligature fl</td><td>ﬂ</td><td><code>&amp;#64258;</code></td></tr>
    <tr><td class="definition">Latin small ligature ffi</td><td>ﬃ</td><td><code>&amp;#64259</code></td></tr>
    <tr><td class="definition">Latin small ligature ffl</td><td>ﬄ</td><td><code>&amp;#64260;</code></td></tr>
    <tr><td class="definition">Latin small ligature long s t</td><td>ﬅ</td><td><code>&amp;#64261;</code></td></tr>
    <tr><td class="definition">Latin small ligature st</td><td>ﬆ</td><td><code>&amp;#64262;</code></td></tr>
    </tbody>
  </table>

  <h2>Ligatures with generic <code>font-style: italic;</code></h2>
  <table style="font-style: italic" summary="Sans table">
    <thead>
    <tr><th scope="col">Character</th><th scope="col">Ligature</th><th scope="col">Numeric reference</th></tr>
    </thead>
    <tbody>
    <tr><td class="definition">Latin small ligature ff</td><td>ﬀ</td><td><code>&amp;#64256;</code></td></tr>
    <tr><td class="definition">Latin small ligature fi</td><td>ﬁ</td><td><code>&amp;#64257;</code></td></tr>
    <tr><td class="definition">Latin small ligature fl</td><td>ﬂ</td><td><code>&amp;#64258;</code></td></tr>
    <tr><td class="definition">Latin small ligature ffi</td><td>ﬃ</td><td><code>&amp;#64259</code></td></tr>
    <tr><td class="definition">Latin small ligature ffl</td><td>ﬄ</td><td><code>&amp;#64260;</code></td></tr>
    <tr><td class="definition">Latin small ligature long s t</td><td>ﬅ</td><td><code>&amp;#64261;</code></td></tr>
    <tr><td class="definition">Latin small ligature st ligature</td><td>ﬆ</td><td><code>&amp;#64262;</code></td></tr>
    </tbody>
  </table>

  <h2>Other characters</h2>
  <table summary="Serif table">
    <thead>
    <tr><th scope="col">Character</th><th scope="col">Ligature</th><th scope="col">Numeric reference</th></tr>
    </thead>
    <tbody>
    <tr><td class="definition">Small sharp s, German (sz ligature)</td><td>ß</td><td><code>&amp;#223;</code></td></tr>
    <tr><td class="definition">Capital thorn, Icelandic</td><td>Þ</td><td><code>&amp;#222;</code></td></tr>
    <tr><td class="definition">Small thorn, Icelandic</td><td>þ</td><td><code>&amp;#254;</code></td></tr>
    <tr><td class="definition">Latin capital letter AE</td><td>Æ</td><td><code>&amp;#198;</code></td></tr>
    <tr><td class="definition">Latin small letter ae</td><td>æ</td><td><code>&amp;#230;</code></td></tr>
    <tr><td class="definition">Capital IJ ligature</td><td>Ĳ</td><td><code>&amp;#306;</code></td></tr>
    <tr><td class="definition">Lowercase ij ligature</td><td>ĳ</td><td><code>&amp;#307;</code></td></tr>
    <tr><td class="definition">Latin capital ligature OE</td><td>Œ</td><td><code>&amp;#338;</code></td></tr>
    <tr><td class="definition">Latin small ligature (misnomer) oe</td><td>œ</td><td><code>&amp;#339;</code></td></tr>
    <tr><td class="definition">Capital NJ ligature</td><td>Ǌ</td><td><code>&amp;#458;</code></td></tr>
    <tr><td class="definition">Leading capital Nj ligature</td><td>ǋ</td><td><code>&amp;#459;</code></td></tr>
    <tr><td class="definition">Lowercase nj ligature</td><td>ǌ</td><td><code>&amp;#460;</code></td></tr>
    <tr><td class="definition">Capital DZ ligature</td><td>Ǳ</td><td><code>&amp;#497;</code></td></tr>
    <tr><td class="definition">Leading capital Dz ligature</td><td>ǲ</td><td><code>&amp;#498;</code></td></tr>
    <tr><td class="definition">Lowercase dz ligature</td><td>ǳ</td><td><code>&amp;#499;</code></td></tr>
    </tbody>
  </table>

  <div id="footer">
    <address class="vcard"><a class="fn url" href="http://jontangerine.com">Jon Tan</a> <em lang="la" title="made it">fecit</em>, 2006–2011. <a href="http://suda.co.uk/projects/X2V/get-vcard.php?uri=http://jontangerine.com/about" title="Virtual card (will open in your address book if it supports the vCard format)">download vCard</a> (via <a href="http://suda.co.uk/projects/X2V/" title="Brian Suda’s original microformats parser">X2V</a>) or see my <a href="http://jontangerine.com/about">profile</a>.</address>
    <p>This <a title="xmlns:dc=http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/InteractiveResource" rel="dc:type">work</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/uk/">Creative Commons Attribution-Share Alike 2.0 UK: England &amp; Wales License</a>.</p>
  </div>
</div>
