{{&gt; molecules-atrium-page-frame-top }}




&lt;h2&gt;FPx&lt;/h2&gt;

&lt;div class=&quot;fpx--header&quot;&gt;
  &lt;h4 class=&quot;fpx--title&quot;&gt;Implementation of PAT Data Management Strategy&lt;/h4&gt;
  &lt;div class=&quot;fpx--status&quot;&gt;on schedule&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;fpx-item&quot;&gt;
  &lt;div class=&quot;fpx-item--title&quot;&gt;Status&lt;/div&gt;
  &lt;div class=&quot;fpx-item--text&quot;&gt;In progress - no blockers&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;fpx-item&quot;&gt;
  &lt;div class=&quot;fpx-item--title&quot;&gt;Completion Date&lt;/div&gt;
  &lt;div class=&quot;fpx-item--text&quot;&gt;Q3 2015&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;fpx-item&quot;&gt;
  &lt;div class=&quot;fpx-item--title&quot;&gt;Owner&lt;/div&gt;
  &lt;div class=&quot;fpx-item--text&quot;&gt;
    &lt;a href=&quot;&quot;&gt;Process Knowledge and Understanding&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;fpx-item&quot;&gt;
  &lt;div class=&quot;fpx-item--title&quot;&gt;Co-Sponsors&lt;/div&gt;
  &lt;div class=&quot;fpx-item--text&quot;&gt;&lt;a href=&quot;&quot;&gt;Modelling LCM&lt;/a&gt;, &lt;a href=&quot;&quot;&gt;Rutgers Collaboration on Big Data&lt;/a&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;fpx-item&quot;&gt;
  &lt;div class=&quot;fpx-item--title&quot;&gt;Outcome&lt;/div&gt;
  &lt;div class=&quot;fpx-item--text&quot;&gt;Descrive the planned organization change.&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;fpx-item&quot;&gt;
  &lt;div class=&quot;fpx-item--title&quot;&gt;Motivation&lt;/div&gt;
  &lt;div class=&quot;fpx-item--text&quot;&gt;Explain why the transformation matters to the user or organization&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;fpx-item&quot;&gt;
  &lt;div class=&quot;fpx-item--title&quot;&gt;Project Plan&lt;/div&gt;
  &lt;div class=&quot;fpx-item--text&quot;&gt;Explain in broad strokes steps to be taken to accomplish the project&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;fpx-item&quot;&gt;
  &lt;div class=&quot;fpx-item--title&quot;&gt;RACI&lt;/div&gt;
  &lt;div class=&quot;fpx-item--text&quot;&gt;
    &lt;div class=&quot;raci&quot;&gt;
      &lt;div class=&quot;raci--role&quot;&gt;Responsible&lt;/div&gt;
      &lt;div class=&quot;raci--text&quot;&gt;&lt;a href=&quot;&quot;&gt;Elizabeth Shanahan&lt;/a&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;raci&quot;&gt;
      &lt;div class=&quot;raci--role&quot;&gt;Accountable&lt;/div&gt;
      &lt;div class=&quot;raci--text&quot;&gt;&lt;a href=&quot;&quot;&gt;Adam Fermier&lt;/a&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;raci&quot;&gt;
      &lt;div class=&quot;raci--role&quot;&gt;Consulted&lt;/div&gt;
      &lt;div class=&quot;raci--text&quot;&gt;&lt;a href=&quot;&quot;&gt;Radha Mendapra&lt;/a&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;raci&quot;&gt;
      &lt;div class=&quot;raci--role&quot;&gt;Informed&lt;/div&gt;
      &lt;div class=&quot;raci--text&quot;&gt;&lt;a href=&quot;&quot;&gt;James Kenyon&lt;/a&gt;&lt;a href=&quot;&quot;&gt;James Leonard&lt;/a&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;fpx-item&quot;&gt;
  &lt;div class=&quot;fpx-item--title&quot;&gt;Tasks&lt;/div&gt;
  &lt;div class=&quot;fpx-item--table&quot;&gt;
    &lt;table class=&quot;&quot;&gt;
      &lt;thead&gt;
      &lt;tr&gt;
        &lt;td&gt;&lt;a href=&quot;&quot;&gt;Task&lt;/a&gt;&lt;/td&gt;
        &lt;td&gt;&lt;a href=&quot;&quot;&gt;Assigned&lt;/a&gt;&lt;/td&gt;
        &lt;td&gt;&lt;a href=&quot;&quot;&gt;Project&lt;/a&gt;&lt;/td&gt;
        &lt;td&gt;&lt;a href=&quot;&quot;&gt;Priority&lt;/a&gt;&lt;/td&gt;
        &lt;td&gt;&lt;a href=&quot;&quot;&gt;Type&lt;/a&gt;&lt;/td&gt;
        &lt;td&gt;&lt;a href=&quot;&quot;&gt;Status&lt;/a&gt;&lt;/td&gt;
        &lt;td&gt;&lt;a href=&quot;&quot;&gt;Updated&lt;/a&gt;&lt;/td&gt;
      &lt;/tr&gt;
      &lt;/thead&gt;
      &lt;tbody&gt;
      &lt;tr&gt;
        &lt;td class=&quot;task&quot;&gt;&lt;a href=&quot;&quot;&gt;First Task&lt;/a&gt;&lt;/td&gt;
        &lt;td class=&quot;assigned&quot;&gt;&lt;a href=&quot;&quot;&gt;David Snopek&lt;/a&gt;&lt;/td&gt;
        &lt;td class=&quot;project&quot;&gt;&lt;a href=&quot;&quot;&gt;First Project&lt;/a&gt;&lt;/td&gt;
        &lt;td class=&quot;priority&quot;&gt;High&lt;/td&gt;
        &lt;td class=&quot;type&quot;&gt;Problem&lt;/td&gt;
        &lt;td class=&quot;status&quot;&gt;Open&lt;/td&gt;
        &lt;td class=&quot;updated&quot;&gt;2 min 37 sec ago&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td class=&quot;task&quot;&gt;&lt;a href=&quot;&quot;&gt;Third Task&lt;/a&gt;&lt;/td&gt;
        &lt;td class=&quot;assigned&quot;&gt;&lt;a href=&quot;&quot;&gt;David Snopek&lt;/a&gt;&lt;/td&gt;
        &lt;td class=&quot;project&quot;&gt;&lt;a href=&quot;&quot;&gt;Second Project&lt;/a&gt;&lt;/td&gt;
        &lt;td class=&quot;priority&quot;&gt;Normal&lt;/td&gt;
        &lt;td class=&quot;type&quot;&gt;Task&lt;/td&gt;
        &lt;td class=&quot;status&quot;&gt;Open&lt;/td&gt;
        &lt;td class=&quot;updated&quot;&gt;1 hour 49 min ago&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td class=&quot;task&quot;&gt;&lt;a href=&quot;&quot;&gt;Second Task&lt;/a&gt;&lt;/td&gt;
        &lt;td class=&quot;assigned&quot;&gt;&lt;a href=&quot;&quot;&gt;David Snopek&lt;/a&gt;&lt;/td&gt;
        &lt;td class=&quot;project&quot;&gt;&lt;a href=&quot;&quot;&gt;First Project&lt;/a&gt;&lt;/td&gt;
        &lt;td class=&quot;priority&quot;&gt;High&lt;/td&gt;
        &lt;td class=&quot;type&quot;&gt;Task&lt;/td&gt;
        &lt;td class=&quot;status&quot;&gt;Resolved&lt;/td&gt;
        &lt;td class=&quot;updated&quot;&gt;1 day 31 min ago&lt;/td&gt;
      &lt;/tr&gt;
      &lt;/tbody&gt;
    &lt;/table&gt;
  &lt;/div&gt;
&lt;/div&gt;




{{&gt; molecules-atrium-page-frame-bottom }}
