&lt;ul class=&quot;pl-font&quot;&gt;
  &lt;li&gt;
    &lt;h1&gt;Heading Level 1&lt;/h1&gt;
    {{# meta }}
       {{# h1}}
        {{&gt;atoms-scss-extend}}
      {{/h1}}
    {{/meta}}
    &lt;hr /&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;h2&gt;Heading Level 2&lt;/h2&gt;
    {{# meta }}
       {{# h2}}
        {{&gt;atoms-scss-extend}}
      {{/h2}}
    {{/meta}}
    &lt;hr /&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;h3&gt;Heading Level 3&lt;/h3&gt;
    {{# meta }}
       {{# h3}}
        {{&gt;atoms-scss-extend}}
      {{/h3}}
    {{/meta}}
    &lt;hr /&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;h4&gt;Heading Level 4&lt;/h4&gt;
    {{# meta }}
       {{# h4}}
        {{&gt;atoms-scss-extend}}
      {{/h4}}
    {{/meta}}
    &lt;hr /&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;h5&gt;Heading Level 5&lt;/h5&gt;
    {{# meta }}
       {{# h5}}
        {{&gt;atoms-scss-extend}}
      {{/h5}}
    {{/meta}}
    &lt;hr /&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;h6&gt;Heading Level 6&lt;/h6&gt;
    {{# meta }}
       {{# h6}}
        {{&gt;atoms-scss-extend}}
      {{/h6}}
    {{/meta}}
  &lt;/li&gt;
&lt;/ul&gt;
