&lt;ul class=&quot;pl-meta scss-reference&quot;&gt;
  {{#scss-singularity}}
  &lt;li&gt;Singularity Grid Var: &lt;code&gt;{{grid-var}}&lt;/code&gt;&lt;/li&gt;
  &lt;li&gt;Singularity Layout Mixin: &lt;code&gt;@include layout({{layout}}){}&lt;/code&gt;&lt;/li&gt;
    {{#spans}}
      &lt;li&gt;Singularity Grid Span mixin: &lt;code&gt;@include {{.}}&lt;/code&gt;&lt;/li&gt;
    {{/spans}}
  {{/scss-singularity}}
&lt;/ul&gt;
