{{&gt; molecules-atrium-page-frame-top }}




&lt;h2&gt;SM-DPD-ED&lt;/h2&gt;


&lt;div class=&quot;accordion--sets&quot;&gt;
  &lt;!-- control all accordions --&gt;
  &lt;a class=&quot;accordion--control-all&quot; data-action=&quot;expand&quot; href=&quot;&quot;&gt;Expand All&lt;/a&gt;
  &lt;!-- accordion set --&gt;
  &lt;div class=&quot;accordion--set&quot;&gt;
    &lt;h3 class=&quot;accordion--set--title&quot;&gt;Vision&lt;/h3&gt;
    &lt;div class=&quot;accordion&quot; data-state=&quot;open&quot;&gt;
      &lt;div class=&quot;accordion--header&quot;&gt;
        &lt;h4 class=&quot;accordion--title&quot;&gt;Current State&lt;/h4&gt;
        &lt;a class=&quot;accordion--control&quot; href=&quot;&quot; title=&quot;close&quot;&gt;&amp;ndash;&lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;accordion--body&quot;&gt;
        &lt;ul&gt;
          &lt;li&gt;Heavy use of paper notebooks&lt;/li&gt;
          &lt;li&gt;Use of electronic systems, non-harmonized documentation practices&lt;/li&gt;
          &lt;li&gt;OSI-Pi is a data graveyard&lt;/li&gt;
          &lt;li&gt;Personalized Excel templates are common&lt;/li&gt;
          &lt;li&gt;Manual Data aggregation&lt;/li&gt;
          &lt;li&gt;OFAT visualization of long partnership for advanced analytics&lt;/li&gt;
        &lt;/ul&gt;
        &lt;a class=&quot;button&quot; href=&quot;&quot;&gt;Find Training&lt;/a&gt;
        &lt;a class=&quot;button&quot; href=&quot;&quot;&gt;Use Application&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;accordion&quot; data-state=&quot;closed&quot;&gt;
      &lt;div class=&quot;accordion--header&quot;&gt;
        &lt;h4 class=&quot;accordion--title&quot;&gt;Next Generation - September 2015&lt;/h4&gt;
        &lt;a class=&quot;accordion--control&quot; href=&quot;&quot; title=&quot;expand&quot;&gt;&amp;plus;&lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;accordion--body&quot;&gt;
        &lt;ul&gt;
          &lt;li&gt;Bulleted text describes the near-future&lt;/li&gt;
          &lt;li&gt;for the tool&lt;/li&gt;
          &lt;li&gt;from a high-level perspective.&lt;/li&gt;
        &lt;/ul&gt;
        &lt;a class=&quot;button&quot; href=&quot;&quot;&gt;A Button&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;accordion&quot; data-state=&quot;closed&quot;&gt;
      &lt;div class=&quot;accordion--header&quot;&gt;
        &lt;h4 class=&quot;accordion--title&quot;&gt;End Goal&lt;/h4&gt;
        &lt;a class=&quot;accordion--control&quot; href=&quot;&quot; title=&quot;expand&quot;&gt;&amp;plus;&lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;accordion--body&quot;&gt;
        &lt;ul&gt;
          &lt;li&gt;Bulleted text describes the end goal&lt;/li&gt;
          &lt;li&gt;for the tool&lt;/li&gt;
          &lt;li&gt;from a high-level perspective.&lt;/li&gt;
        &lt;/ul&gt;
        &lt;a class=&quot;button&quot; href=&quot;&quot;&gt;A Button&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;!-- accordion set --&gt;
  &lt;div class=&quot;accordion--set&quot;&gt;
    &lt;h3 class=&quot;accordion--set--title&quot;&gt;Key Business Outputs&lt;/h3&gt;
    &lt;div class=&quot;accordion&quot; data-state=&quot;open&quot;&gt;
      &lt;div class=&quot;accordion--header&quot;&gt;
        &lt;h4 class=&quot;accordion--title&quot;&gt;Current State&lt;/h4&gt;
        &lt;a class=&quot;accordion--control&quot; href=&quot;&quot; title=&quot;close&quot;&gt;&amp;ndash;&lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;accordion--body&quot;&gt;
        &lt;ul&gt;
          &lt;li&gt;Resource and time intensive manual data aggregation&lt;/li&gt;
          &lt;li&gt;Document-based tech transfer&lt;/li&gt;
          &lt;li&gt;Non-standard visualization of data&lt;/li&gt;
        &lt;/ul&gt;
        &lt;a class=&quot;button&quot; href=&quot;&quot;&gt;Find Training&lt;/a&gt;
        &lt;a class=&quot;button&quot; href=&quot;&quot;&gt;Use Application&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;accordion&quot; data-state=&quot;closed&quot;&gt;
      &lt;div class=&quot;accordion--header&quot;&gt;
        &lt;h4 class=&quot;accordion--title&quot;&gt;Next Generation - April 2016&lt;/h4&gt;
        &lt;a class=&quot;accordion--control&quot; href=&quot;&quot; title=&quot;expand&quot;&gt;&amp;plus;&lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;accordion--body&quot;&gt;
        &lt;ul&gt;
          &lt;li&gt;Bulleted text describes the near-future&lt;/li&gt;
          &lt;li&gt;for the tool&lt;/li&gt;
          &lt;li&gt;from a high-level perspective.&lt;/li&gt;
        &lt;/ul&gt;
        &lt;a class=&quot;button&quot; href=&quot;&quot;&gt;A Button&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;accordion&quot; data-state=&quot;closed&quot;&gt;
      &lt;div class=&quot;accordion--header&quot;&gt;
        &lt;h4 class=&quot;accordion--title&quot;&gt;End Goal&lt;/h4&gt;
        &lt;a class=&quot;accordion--control&quot; href=&quot;&quot; title=&quot;expand&quot;&gt;&amp;plus;&lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;accordion--body&quot;&gt;
        &lt;ul&gt;
          &lt;li&gt;Bulleted text describes the end goal&lt;/li&gt;
          &lt;li&gt;for the tool&lt;/li&gt;
          &lt;li&gt;from a high-level perspective.&lt;/li&gt;
        &lt;/ul&gt;
        &lt;a class=&quot;button&quot; href=&quot;&quot;&gt;A Button&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;!-- accordion set --&gt;
  &lt;div class=&quot;accordion--set&quot;&gt;
    &lt;h3 class=&quot;accordion--set--title&quot;&gt;Platforms &amp; Technologies&lt;/h3&gt;
    &lt;div class=&quot;accordion&quot; data-state=&quot;open&quot;&gt;
      &lt;div class=&quot;accordion--header&quot;&gt;
        &lt;h4 class=&quot;accordion--title&quot;&gt;Current State&lt;/h4&gt;
        &lt;a class=&quot;accordion--control&quot; href=&quot;&quot; title=&quot;close&quot;&gt;&amp;ndash;&lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;accordion--body&quot;&gt;
        &lt;ul&gt;
          &lt;li&gt;ELN&lt;/li&gt;
          &lt;li&gt;OSI-Pi&lt;/li&gt;
          &lt;li&gt;Empower&lt;/li&gt;
          &lt;li&gt;Excel&lt;/li&gt;
          &lt;li&gt;SharePoint&lt;/li&gt;
        &lt;/ul&gt;
        &lt;a class=&quot;button&quot; href=&quot;&quot;&gt;Find Training&lt;/a&gt;
        &lt;a class=&quot;button&quot; href=&quot;&quot;&gt;Use Application&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;accordion&quot; data-state=&quot;closed&quot;&gt;
      &lt;div class=&quot;accordion--header&quot;&gt;
        &lt;h4 class=&quot;accordion--title&quot;&gt;Next Generation - DEcember 2016&lt;/h4&gt;
        &lt;a class=&quot;accordion--control&quot; href=&quot;&quot; title=&quot;expand&quot;&gt;&amp;plus;&lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;accordion--body&quot;&gt;
        &lt;ul&gt;
          &lt;li&gt;Bulleted text describes the near-future&lt;/li&gt;
          &lt;li&gt;for the tool&lt;/li&gt;
          &lt;li&gt;from a high-level perspective.&lt;/li&gt;
        &lt;/ul&gt;
        &lt;a class=&quot;button&quot; href=&quot;&quot;&gt;A Button&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;accordion&quot; data-state=&quot;closed&quot;&gt;
      &lt;div class=&quot;accordion--header&quot;&gt;
        &lt;h4 class=&quot;accordion--title&quot;&gt;End Goal&lt;/h4&gt;
        &lt;a class=&quot;accordion--control&quot; href=&quot;&quot; title=&quot;expand&quot;&gt;&amp;plus;&lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;accordion--body&quot;&gt;
        &lt;ul&gt;
          &lt;li&gt;Bulleted text describes the end goal&lt;/li&gt;
          &lt;li&gt;for the tool&lt;/li&gt;
          &lt;li&gt;from a high-level perspective.&lt;/li&gt;
        &lt;/ul&gt;
        &lt;a class=&quot;button&quot; href=&quot;&quot;&gt;A Button&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;





{{&gt; molecules-atrium-page-frame-bottom }}
