<div class="form-item form-type-select arrow-bottom-right no-border">
  <select class="{{#atoms.select.unique_class}}s2-dropdown-{{atoms.select.unique_class}}{{/atoms.select.unique_class}}">
    <option>{{ atoms.select.text }}</option>
    <option>Option Two</option>
    <option>Option Three</option>
  </select>
</div>
