// ==========================================================================
// Global Variables - Typography
// ========================================================================== */


// Font names
// ========================================================================== */
//
// Assign font names from 00-global/02-variables/_fonts.scss $fonts map
// to actual usable font family strings.
//

$font--surveyor: 'Surveyor SSm A', 'Surveyor SSm B', serif;
$font--whitney: 'Whitney SSm A', 'Whitney SSm B', sans-serif;
$font--landmark: 'Landmark Regular A', 'Landmark Regular B', sans-serif;
$font--landmark-inline: 'Landmark Inline A', 'Landmark Inline B', sans-serif;
$font--landmark-shadow: 'Landmark Shadow A', 'Landmark Shadow B', sans-serif;
$font--landmark-dimensional: 'Landmark Dimensional A', 'Landmark Dimensional B', sans-serif;
$font--sans: sans-serif;
$font--serif: serif;

$font-map: (
  font--surveyor: $font--surveyor,
  font--whitney: $font--whitney,
  font--landmark: $font--landmark,
  font--landmark-inline: $font--landmark-inline,
  font--landmark-shadow: $font--landmark-shadow,
  font--landmark-dimensional: $font--landmark-dimensional,
  font--sans: $font--sans,
  font--serif: $font--serif
);

$font-body: font(font--surveyor);
$font-headline: font(font--surveyor);

// Font size and line-height
$root-typesize   : 20px;
$base-font-size  : $root-typesize;
$base-line-px    : $root-typesize * 1.5;
$base-line-em    : em($base-line-px);
$base-line-height: unitless-convert($base-line-em);

// Sassy Modular-scale
$ms-base: $root-typesize;
$ms-ratio: $minor-third $golden;

// Heading sizes
$heading-sizes:
  ms(6)
  ms(5)
  ms(4)
  ms(3)
  ms(2)
  ms(1);
$heading-line-heights:
  1.5
  1.5
  1.5
  1.5
  1.5
  1.5;

$ms-map: (
  ms0: ms(0),
  ms1: ms(1),
  ms2: ms(2),
  ms3: ms(3),
  ms4: ms(4),
  ms5: ms(5),
  ms6: ms(6),
  ms7: ms(7),
  ms8: ms(8),
  ms9: ms(9),
  ms10: ms(10)
)
