<p>See <code>source/scss/patternlab/_layout.scss</code> for SCSS examples</p>

<div class="demo">
	<!--Grid 4up-->
	<div class="grid-container--5">
    <div class="grid--item">1/5</div>
    <div class="grid--item">1/5</div>
    <div class="grid--item">1/5</div>
    <div class="grid--item">1/5</div>
    <div class="grid--item">1/5</div>
    <div class="grid--item">1/5</div>
    <div class="grid--item">1/5</div>
    <div class="grid--item">1/5</div>
    <div class="grid--item">1/5</div>
    <div class="grid--item">1/5</div>
    <div class="grid--item">1/5</div>
    <div class="grid--item">1/5</div>
    <div class="grid--item">1/5</div>
    <div class="grid--item">1/5</div>
    <div class="grid--item">1/5</div>
	</div>
</div>
{{# meta }}
  {{>atoms-scss-singularity}}
{{/meta}}
