<p>See <code>source/scss/patternlab/_layout.scss</code> for SCSS examples</p>

<div class="demo">
  <div class="grid-container--6">
    <div class="grid--item">1/6</div>
    <div class="grid--item">1/6</div>
    <div class="grid--item">1/6</div>
    <div class="grid--item">1/6</div>
    <div class="grid--item">1/6</div>
    <div class="grid--item">1/6</div>
    <div class="grid--item">1/6</div>
    <div class="grid--item">1/6</div>
    <div class="grid--item">1/6</div>
    <div class="grid--item">1/6</div>
    <div class="grid--item">1/6</div>
    <div class="grid--item">1/6</div>
  </div>
</div>
{{# meta }}
  {{>atoms-scss-singularity}}
{{/meta}}
