&lt;table class=&quot;pl-typesizes&quot;&gt;&lt;thead&gt;&lt;tr&gt;&lt;th&gt;Name&lt;/th&gt;&lt;th&gt;Example&lt;/th&gt;&lt;/tr&gt;&lt;/thead&gt;&lt;tbody&gt;
  {{#pl_fonts}}
    &lt;tr class=&quot;pl-typesize&quot;&gt;&lt;td&gt;{{value}}&lt;/td&gt;&lt;td style=&quot;font-size: {{value}};&quot;&gt;{{ name }} - {{headline.short}}&lt;/td&gt;&lt;/tr&gt;
  {{/pl_fonts}}
&lt;/tbody&gt;&lt;/table&gt;
