/* HEADER */

.site-wide-header {
  padding: 2em 0 0;

  .container {
    &:before,
    &:after {
      display: none;
    }
  }
  .header-wrapper {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-bottom: 1em;
    @include breakpoint($bp-header-one-line) {
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
  }
//  &:after {
//    @include jpc-gradient();
//    display: block;
//    content: '';
//    width: 100%;
//    height: 1em;
//  }
}

.site-wide-header--logo {
  max-width: 250px;
  @include breakpoint($bp-header-one-line) {
    margin-right: 0.5em;
    .no-flexbox & {
      float: left;
    }
  }
}

.site-wide-header--title {
  font-size: ms(1);
  font-weight: 600;
  color: color(blue);
  @include breakpoint($bp-header-one-line) {
    margin-left: 0.5em;
    .no-flexbox & {
      float: right;
    }
  }
}
