// ==========================================================================
// Global Variables - Fonts
// ========================================================================== */


//
// Simply list your font information in the map below and the @each will take
// care of the rest.
// Used to import font faces in 01-base/_typography.scss and define font families.
//
// Note: Try to use weight variants where applicable.
// For example, tstar_mono_round is setup to use tstar_mono_roundbold for the
// bold variant. Similarly, TradeGothicLTStd can be setup to use
// TradeGothicLTStdBold for the bold variant.
//

$fonts: (
  karbon-regular: (
    font-name: 'KarbonWeb',
    font-folder: 'KarbonWeb-Regular',
    font-filename: 'KarbonWeb-Regular',
    font-weight: normal,
    font-style: normal
  ),
  karbon-regular-italic: (
    font-name: 'KarbonWeb',
    font-folder: 'KarbonWeb-RegularItalic',
    font-filename: 'KarbonWeb-RegularItalic',
    font-weight: normal,
    font-style: italic
  ),
  karbon-medium: (
    font-name: 'KarbonWeb',
    font-folder: 'KarbonWeb-Medium',
    font-filename: 'KarbonWeb-Medium',
    font-weight: 600,
    font-style: normal
  ),
  karbon-medium-italic: (
    font-name: 'KarbonWeb',
    font-folder: 'KarbonWeb-MediumItalic',
    font-filename: 'KarbonWeb-MediumItalic',
    font-weight: 600,
    font-style: italic
  ),
  karbon-semibold: (
    font-name: 'KarbonWeb',
    font-folder: 'KarbonWeb-Semibold',
    font-filename: 'KarbonWeb-Semibold',
    font-weight: 700,
    font-style: normal
  ),
  karbon-semibold-italic: (
    font-name: 'KarbonWeb',
    font-folder: 'KarbonWeb-SemiboldItalic',
    font-filename: 'KarbonWeb-SemiboldItalic',
    font-weight: 700,
    font-style: italic
  )
);

