<div class="col-md-3 radix-layouts-sidebar panel-panel">
  <div class="panel-panel-inner">
    <div id="panels-ipe-regionid-sidebar" class="panels-ipe-region">
      <div class="panels-ipe-placeholder panels-ipe-on panels-ipe-portlet-marker panels-ipe-portlet-static">
        <div class="panels-ipe-placeholder-content"><h3>Sidebar</h3></div>
        <div class="panels-ipe-newblock panels-ipe-on">
          <ul class="panels-ipe-linkbar inline">
            <li class="style first"><a
                href="/panels/ajax/ipe/style-type/panelizer%3Anode%3A796%3Apage_manager/region/sidebar"
                class="ctools-use-modal panels-ipe-hide-bar style ctools-use-modal-processed panels-ipe-hide-bar-processed-processed"
                title="Region style"><span>Region style</span></a></li>
            <li class="add-pane last"><a
                href="/panels/ajax/ipe/select-content/panelizer%3Anode%3A796%3Apage_manager/sidebar"
                class="ctools-use-modal add panels-ipe-hide-bar ctools-use-modal-processed panels-ipe-hide-bar-processed-processed"
                title="Add new pane"><span>Add new pane</span></a></li>
          </ul>
        </div>
      </div>
      <div class="panels-ipe-sort-container">
        <div class="oa-pane ">
          <div id="panels-ipe-paneid-33158" class="panels-ipe-portlet-wrapper panels-ipe-portlet-marker">
            <div class="panels-ipe-handlebar-wrapper panels-ipe-on">
              <div class="panels-ipe-dragbar panels-ipe-draghandle clearfix">
                <ul class="panels-ipe-linkbar">
                  <li class="edit first"><a
                      href="/panels/ajax/ipe/edit-pane/panelizer%3Anode%3A796%3Apage_manager/33158"
                      class="ctools-use-modal panels-ipe-hide-bar ctools-use-modal-processed panels-ipe-hide-bar-processed-processed"
                      title="Settings"><span>Settings</span></a></li>
                  <li class="style"><a
                      href="/panels/ajax/ipe/style-type/panelizer%3Anode%3A796%3Apage_manager/pane/33158"
                      class="ctools-use-modal panels-ipe-hide-bar ctools-use-modal-processed panels-ipe-hide-bar-processed-processed"
                      title="Style"><span>Style</span></a></li>
                  <li class="delete last"><a href="/%23" class="pane-delete pane-delete-processed"
                                             id="pane-delete-panel-pane-33158" title="Delete"><span>Delete</span></a>
                  </li>
                </ul>
                <span class="panels-ipe-dragbar-admin-title">Deleted/missing block sharethis-sharethis_block</span><span
                  class="panels-ipe-draghandle-icon"><span class="panels-ipe-draghandle-icon-inner"></span></span></div>
            </div>
            <div class="panels-ipe-portlet-content panels-ipe-empty-pane">
              <div class="panel-pane pane-panels-ipe">


                <div class="pane-content">
                  Placeholder for empty or inaccessible "Deleted/missing block sharethis-sharethis_block"
                </div>


              </div>
            </div>
          </div>
          <div class="panel-separator"></div>
          <div id="panels-ipe-paneid-33159" class="panels-ipe-portlet-wrapper panels-ipe-portlet-marker">
            <div class="panels-ipe-handlebar-wrapper panels-ipe-on">
              <div class="panels-ipe-dragbar panels-ipe-draghandle clearfix">
                <ul class="panels-ipe-linkbar">
                  <li class="edit first"><a
                      href="/panels/ajax/ipe/edit-pane/panelizer%3Anode%3A796%3Apage_manager/33159"
                      class="ctools-use-modal panels-ipe-hide-bar ctools-use-modal-processed panels-ipe-hide-bar-processed-processed"
                      title="Settings"><span>Settings</span></a></li>
                  <li class="style"><a
                      href="/panels/ajax/ipe/style-type/panelizer%3Anode%3A796%3Apage_manager/pane/33159"
                      class="ctools-use-modal panels-ipe-hide-bar ctools-use-modal-processed panels-ipe-hide-bar-processed-processed"
                      title="Style"><span>Style</span></a></li>
                  <li class="delete last"><a href="/%23" class="pane-delete pane-delete-processed"
                                             id="pane-delete-panel-pane-33159" title="Delete"><span>Delete</span></a>
                  </li>
                </ul>
                <span
                    class="panels-ipe-dragbar-admin-title">View: PM Section Pages: Section Pages within Spaces</span><span
                  class="panels-ipe-draghandle-icon"><span class="panels-ipe-draghandle-icon-inner"></span></span></div>
            </div>
            <div class="panels-ipe-portlet-content">
              <div class="panel-pane pane-views-panes pane-pm-section-pages-section-pages-within-spaces">

                <h3 class="pane-title">Sections</h3>


                <div class="pane-content">
                  <div
                      class="view view-pm-section-pages view-id-pm_section_pages view-display-id-section_pages_within_spaces view-dom-id-666d670aa5d01af69772cfc30caf7d65 jquery-once-2-processed">


                    <div class="view-content">
                      <div class="views-row views-row-1 views-row-odd views-row-first">

                        <a href="/knowledge-management/process-knowledge-and-understanding/budgets">Budgets</a></div>
                      <div class="views-row views-row-2 views-row-even">

                        <a href="/process-knowledge-and-understanding/calendar">Calendar</a></div>
                      <div class="views-row views-row-3 views-row-odd">

                        <a href="/process-knowledge-and-understanding/discussions">Discussions</a></div>
                      <div class="views-row views-row-4 views-row-even">

                        <a href="/process-knowledge-and-understanding/files">Files</a></div>
                      <div class="views-row views-row-5 views-row-odd">

                        <a href="/knowledge-management/process-knowledge-and-understanding/fpx">FPx</a></div>
                      <div class="views-row views-row-6 views-row-even views-row-last">

                        <a href="/knowledge-management/process-knowledge-and-understanding/library">Library</a></div>
                    </div>


                  </div>
                </div>


              </div>
            </div>
          </div>
          <div class="panel-separator"></div>
          <div id="panels-ipe-paneid-33160" class="panels-ipe-portlet-wrapper panels-ipe-portlet-marker">
            <div class="panels-ipe-handlebar-wrapper panels-ipe-on">
              <div class="panels-ipe-dragbar panels-ipe-draghandle clearfix">
                <ul class="panels-ipe-linkbar">
                  <li class="edit first"><a
                      href="/panels/ajax/ipe/edit-pane/panelizer%3Anode%3A796%3Apage_manager/33160"
                      class="ctools-use-modal panels-ipe-hide-bar ctools-use-modal-processed panels-ipe-hide-bar-processed-processed"
                      title="Settings"><span>Settings</span></a></li>
                  <li class="style"><a
                      href="/panels/ajax/ipe/style-type/panelizer%3Anode%3A796%3Apage_manager/pane/33160"
                      class="ctools-use-modal panels-ipe-hide-bar ctools-use-modal-processed panels-ipe-hide-bar-processed-processed"
                      title="Style"><span>Style</span></a></li>
                  <li class="delete last"><a href="/%23" class="pane-delete pane-delete-processed"
                                             id="pane-delete-panel-pane-33160" title="Delete"><span>Delete</span></a>
                  </li>
                </ul>
                <span class="panels-ipe-dragbar-admin-title">Spaces &amp; Groups</span><span
                  class="panels-ipe-draghandle-icon"><span class="panels-ipe-draghandle-icon-inner"></span></span></div>
            </div>
            <div class="panels-ipe-portlet-content">
              <div class="panel-pane pane-views-panes pane-open-atrium-groups-panel-pane-all">

                <h3 class="pane-title">Supporting Projects</h3>


                <div class="pane-content">
                  <div
                      class="view view-open-atrium-groups view-id-open_atrium_groups view-display-id-panel_pane_all view-dom-id-ce8d392d21ef12f794d7f2b23b633154 jquery-once-2-processed">


                    <div class="view-content">
                      <div class="views-row views-row-1 views-row-odd views-row-first">

                        <span class="views-field views-field-title">        <span class="field-content"><a
                            href="/process-knowledge-and-understanding/collaborations">Collaborations</a></span>  </span>
                      </div>
                      <div class="views-row views-row-2 views-row-even">

                        <span class="views-field views-field-title">        <span class="field-content"><a
                            href="/node/2431">FDA Collaboration</a></span>  </span></div>
                      <div class="views-row views-row-3 views-row-odd">

                        <span class="views-field views-field-title">        <span class="field-content"><a
                            href="/process-knowledge-and-understanding/idm-rw">IDM-RW</a></span>  </span></div>
                      <div class="views-row views-row-4 views-row-even">

                        <span class="views-field views-field-title">        <span class="field-content"><a
                            href="/process-knowledge-and-understanding/lab-tomorrow">Lab of Tomorrow</a></span>  </span>
                      </div>
                      <div class="views-row views-row-5 views-row-odd">

                        <span class="views-field views-field-title">        <span class="field-content"><a
                            href="/process-knowledge-and-understanding/modeling">Modeling</a></span>  </span></div>
                      <div class="views-row views-row-6 views-row-even">

                        <span class="views-field views-field-title">        <span class="field-content"><a
                            href="/process-knowledge-and-understanding/remicade-mspc">Remicade MSPC</a></span>  </span>
                      </div>
                      <div class="views-row views-row-7 views-row-odd">

                        <span class="views-field views-field-title">        <span class="field-content"><a
                            href="/process-knowledge-and-understanding/risk-assessments">Risk
                          Assessments</a></span>  </span></div>
                      <div class="views-row views-row-8 views-row-even">

                        <span class="views-field views-field-title">        <span class="field-content"><a
                            href="/process-knowledge-and-understanding/solids-recipe-development-gainer">Solids Recipe
                          Development for Gainer</a></span>  </span></div>
                      <div class="views-row views-row-9 views-row-odd">

                        <span class="views-field views-field-title">        <span class="field-content"><a
                            href="/process-knowledge-and-understanding/stability">Stability</a></span>  </span></div>
                      <div class="views-row views-row-10 views-row-even views-row-last">

                        <span class="views-field views-field-title">        <span class="field-content"><a
                            href="/process-knowledge-and-understanding/strategic-operations">Strategic
                          Operations</a></span>  </span></div>
                    </div>


                  </div>
                </div>


              </div>
            </div>
          </div>
          <div class="panel-separator"></div>
          <div id="panels-ipe-paneid-33161" class="panels-ipe-portlet-wrapper panels-ipe-portlet-marker">
            <div class="panels-ipe-handlebar-wrapper panels-ipe-on">
              <div class="panels-ipe-dragbar panels-ipe-draghandle clearfix">
                <ul class="panels-ipe-linkbar">
                  <li class="edit first"><a
                      href="/panels/ajax/ipe/edit-pane/panelizer%3Anode%3A796%3Apage_manager/33161"
                      class="ctools-use-modal panels-ipe-hide-bar ctools-use-modal-processed panels-ipe-hide-bar-processed-processed"
                      title="Settings"><span>Settings</span></a></li>
                  <li class="style"><a
                      href="/panels/ajax/ipe/style-type/panelizer%3Anode%3A796%3Apage_manager/pane/33161"
                      class="ctools-use-modal panels-ipe-hide-bar ctools-use-modal-processed panels-ipe-hide-bar-processed-processed"
                      title="Style"><span>Style</span></a></li>
                  <li class="delete last"><a href="/%23" class="pane-delete pane-delete-processed"
                                             id="pane-delete-panel-pane-33161" title="Delete"><span>Delete</span></a>
                  </li>
                </ul>
                <span class="panels-ipe-dragbar-admin-title">View: PM Team Rosters</span><span
                  class="panels-ipe-draghandle-icon"><span class="panels-ipe-draghandle-icon-inner"></span></span></div>
            </div>
            <div class="panels-ipe-portlet-content panels-ipe-empty-pane">
              <div class="panel-pane pane-panels-ipe">


                <div class="pane-content">
                  Placeholder for empty or inaccessible "View: PM Team Rosters"
                </div>


              </div>
            </div>
          </div>
          <div class="panel-separator"></div>
          <div id="panels-ipe-paneid-33162" class="panels-ipe-portlet-wrapper panels-ipe-portlet-marker">
            <div class="panels-ipe-handlebar-wrapper panels-ipe-on">
              <div class="panels-ipe-dragbar panels-ipe-draghandle clearfix">
                <ul class="panels-ipe-linkbar">
                  <li class="edit first"><a
                      href="/panels/ajax/ipe/edit-pane/panelizer%3Anode%3A796%3Apage_manager/33162"
                      class="ctools-use-modal panels-ipe-hide-bar ctools-use-modal-processed panels-ipe-hide-bar-processed-processed"
                      title="Settings"><span>Settings</span></a></li>
                  <li class="style"><a
                      href="/panels/ajax/ipe/style-type/panelizer%3Anode%3A796%3Apage_manager/pane/33162"
                      class="ctools-use-modal panels-ipe-hide-bar ctools-use-modal-processed panels-ipe-hide-bar-processed-processed"
                      title="Style"><span>Style</span></a></li>
                  <li class="delete last"><a href="/%23" class="pane-delete pane-delete-processed"
                                             id="pane-delete-panel-pane-33162" title="Delete"><span>Delete</span></a>
                  </li>
                </ul>
                <span class="panels-ipe-dragbar-admin-title">Content Visibility</span><span
                  class="panels-ipe-draghandle-icon"><span class="panels-ipe-draghandle-icon-inner"></span></span></div>
            </div>
            <div class="panels-ipe-portlet-content">
              <div class="panel-pane pane-oa-widgets-content-visibility">


                <div class="pane-content">

                  <div class="oa-visibility-public">Public</div>
                </div>


              </div>
            </div>
          </div>
          <div class="panel-separator"></div>
        </div>
      </div>
    </div>
  </div>
</div>
