{{> atoms-clipping-svg }}



<div class="portfolio--project">
  <div class="project--lead">
    <h2 class="project--title">SassConf 2014</h2>
    <a class="project--link" href="http://sassconf.thecodingdesigner.com/">View SassConf (archive)</a>
  </div>
  <div class="project--images">
    <img src="https://41.media.tumblr.com/ed49c8c12bbd3ce77d9c12a04fa36abc/tumblr_nmr41z3yh51u3ptkco10_r1_400.png"
         alt="" class="project--image"/>
    <img src="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=26808814" alt="" class="project--image"/>
    <img src="https://cdn.d23.com/wp-content/uploads/2013/02/021413_FS_AskDave_011013_020413_7.jpg" alt=""
         class="project--image"/>
    <img src="http://www.blogcdn.com/www.cambio.com/media/2011/10/littlemermaidlh100411.jpg" alt=""
         class="project--image"/>
  </div>
</div>

<div class="portfolio--project">
  <div class="project--lead">
    <h2 class="project--title">SassConf 2014</h2>
    <a class="project--link" href="http://sassconf.thecodingdesigner.com/">View SassConf (archive)</a>
  </div>
  <div class="project--images">
    <img src="http://placecage.com/300/300"
         alt="" class="project--image"/>
    <img src="http://placecage.com/350/350" alt="" class="project--image"/>
    <img src="http://placecage.com/320/320" alt=""
         class="project--image"/>
    <img src="http://placecage.com/340/340" alt=""
         class="project--image"/>
  </div>
</div>

<!--<svg class="jag-right" width="150" height="150">-->
  <!--<image xlink:href="http://fillmurray.com/150/150" width="150" height="150"></image>-->
<!--</svg>-->
<!--<svg class="jag-both" width="150" height="150">-->
  <!--<image xlink:href="http://fillmurray.com/g/150/150" width="150" height="150"></image>-->
<!--</svg>-->
<!--<svg class="jag-left" width="150" height="150">-->
  <!--<image xlink:href="http://fillmurray.com/150/150" width="150" height="150"></image>-->
<!--</svg>-->
