&lt;ul class=&quot;pl-font&quot;&gt;
  &lt;li class=&quot;pl-font-karbon-regular&quot;&gt;
    [KarbonWeb]: {{ headline.short }}
    {{# meta }}
      {{# font-serif}}
        {{&gt;atoms-scss-style}}
      {{/ font-serif}}
    {{/meta}}
    &lt;hr/&gt;
  &lt;/li&gt;
  &lt;li class=&quot;pl-font-karbon-regular-italic&quot;&gt;
    [KarbonWeb italic]: {{ headline.short }}
    {{# meta }}
      {{# font-serif-italic}}
        {{&gt;atoms-scss-style}}
      {{/ font-serif-italic}}
    {{/meta}}
    &lt;hr/&gt;
  &lt;/li&gt;
  &lt;li class=&quot;pl-font-karbon-medium&quot;&gt;
    [KarbonWeb Medium]: {{ headline.short }}
    {{# meta }}
      {{# font-serif}}
        {{&gt;atoms-scss-style}}
      {{/ font-serif}}
    {{/meta}}
    &lt;hr/&gt;
  &lt;/li&gt;
  &lt;li class=&quot;pl-font-karbon-medium-italic&quot;&gt;
    [KarbonWeb Medium italic]: {{ headline.short }}
    {{# meta }}
      {{# font-serif-italic}}
        {{&gt;atoms-scss-style}}
      {{/ font-serif-italic}}
    {{/meta}}
    &lt;hr/&gt;
  &lt;/li&gt;
  &lt;li class=&quot;pl-font-karbon-semibold&quot;&gt;
    [KarbonWeb semibold]: {{ headline.short }}
    {{# meta }}
      {{# font-serif-bold}}
        {{&gt;atoms-scss-style}}
      {{/ font-serif-bold}}
    {{/meta}}
    &lt;hr/&gt;
  &lt;/li&gt;
  &lt;li class=&quot;pl-font-karbon-semibold-italic&quot;&gt;
    [KarbonWeb semibold italic]: {{ headline.short }}
    {{# meta }}
      {{# font-serif-bold-italic}}
        {{&gt;atoms-scss-style}}
      {{/ font-serif-bold-italic}}
    {{/meta}}
    &lt;hr/&gt;
  &lt;/li&gt;
&lt;/ul&gt;
