&lt;p&gt;See &lt;code&gt;source/scss/patternlab/_layout.scss&lt;/code&gt; for SCSS examples&lt;/p&gt;

&lt;div class=&quot;demo&quot;&gt;
  &lt;div class=&quot;grid-container--6&quot;&gt;
    &lt;div class=&quot;grid--item&quot;&gt;1/6&lt;/div&gt;
    &lt;div class=&quot;grid--item&quot;&gt;1/6&lt;/div&gt;
    &lt;div class=&quot;grid--item&quot;&gt;1/6&lt;/div&gt;
    &lt;div class=&quot;grid--item&quot;&gt;1/6&lt;/div&gt;
    &lt;div class=&quot;grid--item&quot;&gt;1/6&lt;/div&gt;
    &lt;div class=&quot;grid--item&quot;&gt;1/6&lt;/div&gt;
    &lt;div class=&quot;grid--item&quot;&gt;1/6&lt;/div&gt;
    &lt;div class=&quot;grid--item&quot;&gt;1/6&lt;/div&gt;
    &lt;div class=&quot;grid--item&quot;&gt;1/6&lt;/div&gt;
    &lt;div class=&quot;grid--item&quot;&gt;1/6&lt;/div&gt;
    &lt;div class=&quot;grid--item&quot;&gt;1/6&lt;/div&gt;
    &lt;div class=&quot;grid--item&quot;&gt;1/6&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
{{# meta }}
  {{&gt;atoms-scss-singularity}}
{{/meta}}
