<div class="sg-ms-fonts">
  <ol class="sg-ms pl-font-surveyor">
    {{# listItems.twelve}}
      <li>{{headline.short}}</li>
    {{/ listItems.twelve}}
  </ol>
  <ol class="sg-ms pl-font-surveyor-italic">
    {{# listItems.twelve}}
      <li>{{headline.short}}</li>
    {{/ listItems.twelve}}
  </ol>
</div>
